/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/common/_footer.scss */
.app-footer .app-contact-info {
  height: 200px;
  background-color: #396ea8;
}
/* line 6, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content {
  height: 100%;
  padding: 52px 80px 46px 28px;
  display: flex;
  flex-direction: row;
}
/* line 12, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-wx {
  flex: 0 0 103px;
  height: 100%;
  background-image: url(../../frontend/images/index/wx-big.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
/* line 20, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-wx span {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  word-break: keep-all;
  left: -21px;
}
/* line 30, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-base {
  flex: 0 0 688px;
  padding-left: 40px;
}
/* line 34, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-base table {
  width: 100%;
}
/* line 39, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-base table tr td span {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #eeeeee;
}
/* line 45, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-base table tr td span i {
  color: #95ffff;
  font-size: 14px;
  height: 14px;
  width: 14px;
  text-align: center;
  margin-right: 12px;
}
/* line 62, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 67, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone .app-contact-phone-icon {
  height: 51px;
  width: 62px;
  background-image: url(../../frontend/images/index/phone.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 30px;
}
/* line 77, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone .app-contact-phone-text {
  position: absolute;
  left: 84px;
  top: 30px;
}
/* line 82, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone .app-contact-phone-text span {
  display: block;
  color: #eeeeee;
}
/* line 86, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone .app-contact-phone-text span:hover {
  color: #ffff;
}
/* line 95, ../scss/common/_footer.scss */
.app-footer .app-property {
  height: 48px;
  background-color: #074a92;
}

/* line 2, ../scss/common/_header.scss */
.app-header .app-header-links {
  border-bottom: 1px solid #197bce;
}
/* line 5, ../scss/common/_header.scss */
.app-header .app-header-links .app-container {
  height: 60px;
  position: relative;
}
/* line 10, ../scss/common/_header.scss */
.app-header .app-header-links nav {
  position: absolute;
  right: 0;
  bottom: 12px;
}
/* line 15, ../scss/common/_header.scss */
.app-header .app-header-links nav ul {
  display: flex;
  flex-direction: row;
}
/* line 19, ../scss/common/_header.scss */
.app-header .app-header-links nav ul li {
  flex: 1 0 auto;
}
/* line 22, ../scss/common/_header.scss */
.app-header .app-header-links nav ul li a {
  width: 100px;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #5a5a5a;
  color: #5a5a5a;
  font-size: 14px !important;
  cursor: pointer;
  transition: all ease-in .2s;
}
/* line 32, ../scss/common/_header.scss */
.app-header .app-header-links nav ul li a:hover {
  color: #00c1de;
}
/* line 39, ../scss/common/_header.scss */
.app-header .app-header-links nav ul :last-child a {
  border: none;
}
/* line 47, ../scss/common/_header.scss */
.app-header .app-header-content {
  height: 153px;
  position: relative;
  overflow: visible !important;
}
/* line 52, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-logo {
  position: absolute;
  top: -59px;
  height: 272px;
  width: 198px;
  background-image: url(../../frontend/images/index/logo.png);
}
/* line 60, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-company {
  position: absolute;
  left: 245px;
  top: 32px;
  width: 388px;
  height: 54px;
  background-image: url(../../frontend/images/index/company.png);
}
/* line 69, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-wx {
  position: absolute;
  right: 348px;
  top: 30px;
  width: 55px;
  height: 55px;
  background-image: url(../../frontend/images/index/wx-small.png);
}
/* line 78, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-hotline {
  position: absolute;
  right: 1px;
  top: 38px;
  width: 319px;
  height: 46px;
  background-image: url(../../frontend/images/index/hotline.png);
}
/* line 87, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus {
  position: absolute;
  left: 248px;
  bottom: 18px;
  right: 0;
}
/* line 93, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
/* line 98, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li {
  flex: 1 1 auto;
  text-align: center;
}
/* line 102, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li a {
  cursor: pointer;
  color: #444444;
  transition: color ease-in .2s;
}
/* line 107, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li a:hover {
  color: #52a1e5 !important;
}
/* line 113, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li.split-line {
  flex: 0 0 8px;
  color: #959595;
}
/* line 118, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li.menu-home {
  flex: 0 0 70px;
  text-align: left;
  margin-left: 5px;
}
/* line 124, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li:first-child {
  flex: 0 0 22px;
  height: 18px;
  background-image: url(../../frontend/images/index/icon-home.png);
}
/* line 129, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li:first-child span::before {
  display: none;
}
/* line 138, ../scss/common/_header.scss */
.app-header .app-long-img {
  height: 190px;
  background-image: url(../../frontend/images/index/long-img-0.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 7, ../scss/index.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}

/* line 15, ../scss/index.scss */
a {
  text-decoration: none !important;
}

/* line 19, ../scss/index.scss */
.app-container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 26, ../scss/index.scss */
.app-body .app-container {
  margin-top: 20px;
}
/* line 30, ../scss/index.scss */
.app-body .app-body-left {
  float: left;
  width: 325px;
}
/* line 35, ../scss/index.scss */
.app-body .app-body-right {
  width: 855px;
  float: right;
}
/* line 40, ../scss/index.scss */
.app-body .app-order-query {
  height: 240px;
  width: 326px;
  background-image: url(../images/index/query.png);
  background-repeat: no-repeat;
  text-align: center;
}
/* line 47, ../scss/index.scss */
.app-body .app-order-query #app-order-num {
  height: 134px;
  width: 280px;
  margin-top: 24px;
  resize: none;
  padding: 12px;
}
/* line 55, ../scss/index.scss */
.app-body .app-order-query #app-order-query-btn {
  width: 280px;
  height: 44px;
  background-color: #074a92;
  text-align: center;
  letter-spacing: 18px;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  transition: background-color ease-in-out .2s;
  box-shadow: 0px 2px 2px #062f5b;
}
/* line 69, ../scss/index.scss */
.app-body .app-order-query #app-order-query-btn:hover {
  background-color: #0a7ce5;
}
/* line 75, ../scss/index.scss */
.app-body .app-business {
  width: 326px;
  height: 110px;
  background-image: url(../images/index/business.png);
  background-repeat: no-repeat;
  margin-top: 14px;
}
/* line 83, ../scss/index.scss */
.app-body .app-slide {
  position: relative;
}
/* line 89, ../scss/index.scss */
.app-body .app-slide ul li span img {
  height: 364px;
  width: 854px;
}
/* line 97, ../scss/index.scss */
.app-body .app-slide .prev {
  position: absolute;
  opacity: 0.6;
  width: 20px;
  height: 58px;
  left: 22px;
  top: 155px;
  background-image: url(../images/index/arrow-left.png);
  background-repeat: no-repeat;
}
/* line 107, ../scss/index.scss */
.app-body .app-slide .prev:hover {
  opacity: 1;
}
/* line 112, ../scss/index.scss */
.app-body .app-slide .next {
  position: absolute;
  opacity: 0.6;
  width: 20px;
  height: 58px;
  top: 155px;
  right: 22px;
  background-image: url(../images/index/arrow-right.png);
  background-repeat: no-repeat;
}
/* line 122, ../scss/index.scss */
.app-body .app-slide .next:hover {
  opacity: 1;
}
/* line 127, ../scss/index.scss */
.app-body .app-slide .prevStop {
  display: none;
}
/* line 131, ../scss/index.scss */
.app-body .app-slide .nextStop {
  display: none;
}
/* line 138, ../scss/index.scss */
.app-body .app-cars ul li {
  margin-bottom: 8px;
}
/* line 141, ../scss/index.scss */
.app-body .app-cars ul li a {
  display: inline-block;
  width: 325px;
  height: 66px;
  background-repeat: no-repeat;
  line-height: 66px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-indent: 50px;
}
/* line 151, ../scss/index.scss */
.app-body .app-cars ul li a:hover {
  color: #fff;
}
/* line 156, ../scss/index.scss */
.app-body .app-cars ul li.app-cars-item-1 {
  background-image: url(../images/index/car1.png);
}
/* line 160, ../scss/index.scss */
.app-body .app-cars ul li.app-cars-item-2 {
  background-image: url(../images/index/car2.png);
}
/* line 164, ../scss/index.scss */
.app-body .app-cars ul li.app-cars-item-3 {
  background-image: url(../images/index/car3.png);
}
/* line 173, ../scss/index.scss */
.app-body .app-company-profile .app-profile-content {
  overflow: hidden;
  *zoom: 1;
}
/* line 176, ../scss/index.scss */
.app-body .app-company-profile .app-profile-content .app-profile-slide {
  width: 414px;
  float: left;
}
/* line 180, ../scss/index.scss */
.app-body .app-company-profile .app-profile-content .app-profile-slide li {
  position: relative;
}
/* line 183, ../scss/index.scss */
.app-body .app-company-profile .app-profile-content .app-profile-slide li img {
  width: 414px;
  height: 239px;
}
/* line 188, ../scss/index.scss */
.app-body .app-company-profile .app-profile-content .app-profile-slide li span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 0 0 22px;
}
/* line 203, ../scss/index.scss */
.app-body .app-company-profile .app-profile-content .app-profile-text {
  float: right;
  height: 241px;
  width: 420px;
  padding: 15px 20px;
}
/* line 209, ../scss/index.scss */
.app-body .app-company-profile .app-profile-content .app-profile-text p {
  text-indent: 2em;
  font-size: 14px;
  color: #555555;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}
/* line 220, ../scss/index.scss */
.app-body .app-news {
  margin-top: 30px;
}
/* line 225, ../scss/index.scss */
.app-body .app-news .app-news-content ul li {
  overflow: hidden;
  *zoom: 1;
  cursor: pointer;
}
/* line 230, ../scss/index.scss */
.app-body .app-news .app-news-content ul li:hover a {
  color: #222;
}
/* line 235, ../scss/index.scss */
.app-body .app-news .app-news-content ul li span {
  color: #666666;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
/* line 241, ../scss/index.scss */
.app-body .app-news .app-news-content ul li span a {
  color: #666;
}
/* line 246, ../scss/index.scss */
.app-body .app-news .app-news-content ul li > .title {
  float: left;
  margin-left: 20px;
}
/* line 251, ../scss/index.scss */
.app-body .app-news .app-news-content ul li > .date {
  float: right;
  margin-right: 20px;
}
/* line 260, ../scss/index.scss */
.app-body .app-content-title {
  border-top: 1px solid #f3f3f3;
  position: relative;
}
/* line 264, ../scss/index.scss */
.app-body .app-content-title > span.title {
  display: block;
  width: 106px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 3px;
  color: #074a92;
  border-top: 3px solid #074a92;
  font-size: 18px;
}
/* line 276, ../scss/index.scss */
.app-body .app-content-title > a.more {
  position: absolute;
  right: 16px;
  top: 12px;
  color: #555555;
  cursor: pointer;
  text-decoration: none;
}
/* line 284, ../scss/index.scss */
.app-body .app-content-title > a.more:hover {
  color: #00c1de;
}
/* line 290, ../scss/index.scss */
.app-body .app-service {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 52px;
}
/* line 296, ../scss/index.scss */
.app-body .app-service li {
  flex: 0 0 288px;
}
/* line 299, ../scss/index.scss */
.app-body .app-service li a {
  display: block;
  width: 288px;
  height: 192px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 306, ../scss/index.scss */
.app-body .app-service li a.app-contact-site {
  background-image: url(../images/index/servier-site.png);
}
/* line 310, ../scss/index.scss */
.app-body .app-service li a.app-contact-order {
  background-image: url(../images/index/service-order.png);
}
/* line 314, ../scss/index.scss */
.app-body .app-service li a.app-contact-value {
  background-image: url(../images/index/service-value.png);
}
/* line 318, ../scss/index.scss */
.app-body .app-service li a.app-contact-suggestion {
  background-image: url(../images/index/join.png);
  background-size: 100% 100%;
}
