/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../scss/common/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 12px;
}

/* line 10, ../scss/common/_base.scss */
html {
  height: 100%;
}

/* line 14, ../scss/common/_base.scss */
a {
  text-decoration: none;
}

/* line 18, ../scss/common/_base.scss */
ul, li {
  list-style: none;
}

/* line 22, ../scss/common/_base.scss */
input[type=text] {
  font-size: 12px;
  border: 1px solid #c8cbcc;
  padding: 2px 30px 0 10px;
  outline: none;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
/* line 32, ../scss/common/_base.scss */
input[type=text]:focus {
  border-bottom: 3px solid #000;
  padding-top: 2px;
}

/* line 38, ../scss/common/_base.scss */
input[type=button] {
  border: none;
  letter-spacing: 3px;
}

/* line 3, ../scss/common/_table.scss */
.app-table-content {
  margin-top: 24px;
  width: 100%;
}
/* line 8, ../scss/common/_table.scss */
.app-table-content .app-table-nav {
  overflow: hidden;
  *zoom: 1;
}
/* line 11, ../scss/common/_table.scss */
.app-table-content .app-table-nav li {
  float: left;
  text-align: center;
  position: relative;
  display: block;
}
/* line 17, ../scss/common/_table.scss */
.app-table-content .app-table-nav li a {
  display: block;
  padding: 6px 12px;
  border-radius: 0px;
  border: 1px solid #D9DEE4;
  color: #666;
  line-height: 20px;
  height: 32px;
  margin-left: 2px;
  font-size: 12px;
}
/* line 29, ../scss/common/_table.scss */
.app-table-content .app-table-nav li + li {
  margin-left: 2px;
}
/* line 39, ../scss/common/_table.scss */
.app-table-content .app-table-toolbar .app-table-nav li a {
  background-color: #D9DEE4;
}
/* line 42, ../scss/common/_table.scss */
.app-table-content .app-table-toolbar .app-table-nav li a:hover {
  border: 1px solid #D9DEE4;
  background-color: #DCE2E7;
  color: #444;
}
/* line 50, ../scss/common/_table.scss */
.app-table-content .app-table-toolbar .app-table-nav li.active a {
  border: 1px solid #546478;
  background-color: #546478;
  color: #FFFFFF;
}
/* line 61, ../scss/common/_table.scss */
.app-table-content .app-table table {
  width: 100%;
  background: #FFF;
  font-size: 12px;
  border-top: 1px solid #E1E6EB;
  margin-top: 8px;
  border: 1px solid #E1E6EB;
}
/* line 71, ../scss/common/_table.scss */
.app-table-content .app-table table thead tr th {
  padding: 8px 8px;
  font-weight: normal;
  color: #999;
  border-bottom: 1px solid #E1E6EB;
  background-color: #F5F6FA;
}
/* line 83, ../scss/common/_table.scss */
.app-table-content .app-table table tbody tr td {
  padding: 12px 8px;
  border-top: 0px;
  border-bottom: 1px solid #E1E6EB;
  vertical-align: middle;
}
/* line 91, ../scss/common/_table.scss */
.app-table-content .app-table table tbody tr:hover td {
  background-color: #F9F9FA;
}
/* line 100, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td {
  padding: 8px 8px;
  font-weight: normal;
  color: #999;
  border-bottom: 1px solid #E1E6EB;
  background-color: #F5F6FA;
}
/* line 107, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-nav {
  float: left;
}
/* line 112, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-nav li a {
  color: #333;
  border: 1px solid #ddd;
  font-size: 12px;
  border-radius: 0px;
  padding: 8px 16px;
  height: 32px;
  line-height: 14px;
}
/* line 121, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-nav li a.delete {
  background-color: #FF4351;
  border-color: #FF4351;
  color: #FFF;
}
/* line 126, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-nav li a.delete:hover {
  background-color: #ff7680;
  border-color: #ff7680;
  color: #FFF;
}
/* line 133, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-nav li a.add {
  background-color: #7B72E9;
  border-color: #7B72E9;
  color: #FFF;
}
/* line 138, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-nav li a.add:hover {
  background-color: #a49ef0;
  border-color: #a49ef0;
  color: #FFF;
}
/* line 148, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-pages {
  float: right;
}
/* line 151, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-pages li {
  float: left;
  margin-right: 8px;
}
/* line 154, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-pages li a {
  float: left;
  color: #333;
  text-align: center;
  position: relative;
  display: block;
  width: 24px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}
/* line 168, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-pages li a:hover {
  border-color: #333;
}
/* line 174, ../scss/common/_table.scss */
.app-table-content .app-table table tfoot tr td .app-table-pages li.active a {
  background-color: #7B72E9;
  color: #fff;
  border-color: transparent !important;
}

/* line 1, ../scss/common/_form.scss */
.app-form {
  margin-top: 28px;
}
/* line 4, ../scss/common/_form.scss */
.app-form input {
  font-size: 12px;
  border: 1px solid #c8cbcc;
  padding: 2px 30px 2px 10px;
  outline: none;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  width: 80%;
  height: 32px;
  line-height: 32px;
  max-width: 600px;
}
/* line 18, ../scss/common/_form.scss */
.app-form select {
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  outline: none;
  padding: 0 5px;
}
/* line 25, ../scss/common/_form.scss */
.app-form select:focus {
  outline: none;
}
/* line 30, ../scss/common/_form.scss */
.app-form .form-row {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
}
/* line 35, ../scss/common/_form.scss */
.app-form .form-row .form-field {
  line-height: 40px;
  display: flex;
  flex: 1 0 auto;
  width: 1%;
}
/* line 41, ../scss/common/_form.scss */
.app-form .form-row .form-field span {
  flex: 0 0 80px;
  text-align: right;
}
/* line 46, ../scss/common/_form.scss */
.app-form .form-row .form-field .form-control {
  flex: 1 1 auto;
}
/* line 49, ../scss/common/_form.scss */
.app-form .form-row .form-field .form-control input[type=button] {
  width: auto;
  text-align: center;
  padding: 5px 10px;
  background-color: #7B72E9;
  border-color: #7B72E9;
  color: #FFF;
  line-height: 1;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
/* line 61, ../scss/common/_form.scss */
.app-form .form-row .form-field .form-control input[type=button]:hover {
  background-color: #a49ef0;
  border-color: #a49ef0;
  color: #FFF;
}

/* line 5, ../scss/layout.scss */
header {
  background-color: #252a2f;
  height: 50px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1030 !important;
}

/* line 14, ../scss/layout.scss */
aside {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 140px;
  z-index: 1020 !important;
  background-color: #252a2f;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 25, ../scss/layout.scss */
aside ul li {
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  -webkit-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 0;
  cursor: pointer;
}
/* line 39, ../scss/layout.scss */
aside ul li span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
/* line 47, ../scss/layout.scss */
aside ul li span i {
  font-size: 16px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.65);
}
/* line 54, ../scss/layout.scss */
aside ul li a {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 12px;
  padding-right: 8px;
  user-select: none;
}
/* line 67, ../scss/layout.scss */
aside ul li:hover {
  background-color: #192129;
}
/* line 70, ../scss/layout.scss */
aside ul li:hover i {
  color: #fff;
}
/* line 74, ../scss/layout.scss */
aside ul li:hover a {
  color: #00c1de;
}

/* line 81, ../scss/layout.scss */
#container {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 140px;
  background-color: #fff;
  z-index: 100;
  right: 0;
  padding: 15px;
}
/* line 91, ../scss/layout.scss */
#container > .app-title {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #DDD;
}
/* line 97, ../scss/layout.scss */
#container > .app-title span {
  float: left;
  border-left: 2px solid #88B7E0;
  text-indent: 8px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
}
