/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../scss/common/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 12px;
}

/* line 10, ../scss/common/_base.scss */
html {
  height: 100%;
}

/* line 14, ../scss/common/_base.scss */
a {
  text-decoration: none;
}

/* line 18, ../scss/common/_base.scss */
ul, li {
  list-style: none;
}

/* line 22, ../scss/common/_base.scss */
input[type=text] {
  font-size: 12px;
  border: 1px solid #c8cbcc;
  padding: 2px 30px 0 10px;
  outline: none;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
/* line 32, ../scss/common/_base.scss */
input[type=text]:focus {
  border-bottom: 3px solid #000;
  padding-top: 2px;
}

/* line 38, ../scss/common/_base.scss */
input[type=button] {
  border: none;
  letter-spacing: 3px;
}

/* line 2, ../scss/login.scss */
html {
  background-color: #373d41 !important;
}

/* line 5, ../scss/login.scss */
.app-login-header {
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #1F2325;
  position: relative;
}
/* line 10, ../scss/login.scss */
.app-login-header .app-login-index {
  position: absolute;
  left: 10px;
  cursor: pointer;
}
/* line 14, ../scss/login.scss */
.app-login-header .app-login-index img {
  height: 70px;
  opacity: .9;
}
/* line 18, ../scss/login.scss */
.app-login-header .app-login-index span {
  position: absolute;
  top: 18px;
  left: 60px;
  color: #fff;
  font-weight: bold;
  width: 300px;
  font-size: 24px;
  user-select: none;
  letter-spacing: 2px;
}

/* line 31, ../scss/login.scss */
.app-login-body {
  background-color: #1F2325;
  padding: 74px 0 118px;
  text-align: center;
}
/* line 36, ../scss/login.scss */
.app-login-body .app-login-box {
  width: 990px;
  margin: auto;
  position: relative;
  height: 388px;
}
/* line 42, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form {
  width: 380px;
  height: 360px;
  padding: 22px 25px 0;
  background-color: #fff;
  border: none;
  position: absolute;
  right: 0;
  top: 20px;
  color: #373d41;
  font: 400 12px arial;
  font-family: PingFang SC,Helvetica,Arial,Verdana,Microsoft YaHei,serif !important;
}
/* line 55, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form h4 {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid transport;
  padding-bottom: 5px;
  margin: 0 auto 10px;
  text-align: left;
  margin-bottom: 15px;
}
/* line 66, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form .app-login-error {
  display: none;
  border: 1px solid #ff934c;
  background: #fefcee;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 5px 8px;
  overflow: hidden;
}
/* line 75, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form .app-login-error i {
  float: left;
  font-size: 16px;
  color: #ff934c;
}
/* line 81, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form .app-login-error span {
  float: left;
  padding-left: 5px;
  font-size: 12px;
  color: #373d41;
}
/* line 89, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form form {
  padding-top: 10px;
}
/* line 92, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form form .app-login-field {
  margin-bottom: 18px;
}
/* line 95, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form form .app-login-field input {
  width: 100%;
  height: 42px;
}
/* line 101, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form form #submit {
  background-color: #1B9AF7;
  border-color: #1B9AF7;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
/* line 108, ../scss/login.scss */
.app-login-body .app-login-box .app-login-form form #submit:hover {
  background-color: #4cb0f9;
  border-color: #4cb0f9;
}
