/* line 1, ../scss/markdown.scss */
h1 {
  color: #0077bb;
  margin: 50px 0 20px;
  font-size: 30px;
}

/* line 6, ../scss/markdown.scss */
h2 {
  margin: 35px 0 20px;
  font-size: 26px;
}

/* line 10, ../scss/markdown.scss */
h3 {
  margin: 20px 0;
  font-size: 21px;
}

/* line 14, ../scss/markdown.scss */
h1, h2, h3 {
  font-weight: 500;
  line-height: 40px;
}

/* line 18, ../scss/markdown.scss */
hr {
  border: 0;
  border-bottom: 1px dashed #cfcfcf;
  margin: 30px 0;
}

/* line 24, ../scss/markdown.scss */
p {
  font-family: 'PingFang SC,Hiragino Sans GB,Helvetica Neue,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif';
  width: 100%;
  font-size: 16px;
  line-height: 27px;
  overflow: auto;
  border-top-width: 0;
  border-right-width: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: #2C3E50;
  text-indent: 2em;
  margin: 0 0 20px;
}

/* line 39, ../scss/markdown.scss */
blockquote {
  padding: 10px 15px;
  border-left-style: solid;
  border-left-width: 10px;
  margin: 0 0 20px;
  border-color: #D6DBDF;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
}
/* line 47, ../scss/markdown.scss */
blockquote ul {
  padding: 0;
  margin: 0 0 10px 25px;
}
/* line 51, ../scss/markdown.scss */
blockquote ul li {
  line-height: 27px;
  display: list-item;
  color: #2C3E50;
  list-style-type: disc;
}

/* line 59, ../scss/markdown.scss */
strong {
  font-weight: 700;
}
