/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/common/_footer.scss */
.app-footer .app-contact-info {
  height: 200px;
  background-color: #396ea8;
}
/* line 6, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content {
  height: 100%;
  padding: 52px 80px 46px 28px;
  display: flex;
  flex-direction: row;
}
/* line 12, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-wx {
  flex: 0 0 103px;
  height: 100%;
  background-image: url(../../frontend/images/index/wx-big.png);
  background-repeat: no-repeat;
}
/* line 19, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-base {
  flex: 0 0 688px;
  padding-left: 40px;
}
/* line 23, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-base table {
  width: 100%;
}
/* line 28, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-base table tr td span {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #eeeeee;
}
/* line 34, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-base table tr td span i {
  color: #95ffff;
  font-size: 14px;
  height: 14px;
  width: 14px;
  text-align: center;
  margin-right: 12px;
}
/* line 52, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 57, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone .app-contact-phone-icon {
  height: 51px;
  width: 62px;
  background-image: url(../../frontend/images/index/phone.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 30px;
}
/* line 67, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone .app-contact-phone-text {
  position: absolute;
  left: 84px;
  top: 30px;
}
/* line 72, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone .app-contact-phone-text span {
  display: block;
  color: #eeeeee;
}
/* line 76, ../scss/common/_footer.scss */
.app-footer .app-contact-info .app-contact-content .app-contact-phone .app-contact-phone-text span:hover {
  color: #ffff;
}
/* line 85, ../scss/common/_footer.scss */
.app-footer .app-property {
  height: 48px;
  background-color: #074a92;
}

/* line 2, ../scss/common/_header.scss */
.app-header .app-header-links {
  border-bottom: 1px solid #197bce;
}
/* line 5, ../scss/common/_header.scss */
.app-header .app-header-links .app-container {
  height: 60px;
  position: relative;
}
/* line 10, ../scss/common/_header.scss */
.app-header .app-header-links nav {
  position: absolute;
  right: 0;
  bottom: 12px;
}
/* line 15, ../scss/common/_header.scss */
.app-header .app-header-links nav ul {
  display: flex;
  flex-direction: row;
}
/* line 19, ../scss/common/_header.scss */
.app-header .app-header-links nav ul li {
  flex: 1 0 auto;
}
/* line 22, ../scss/common/_header.scss */
.app-header .app-header-links nav ul li a {
  width: 100px;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #5a5a5a;
  color: #5a5a5a;
  font-size: 14px !important;
  cursor: pointer;
  transition: all ease-in .2s;
}
/* line 32, ../scss/common/_header.scss */
.app-header .app-header-links nav ul li a:hover {
  color: #00c1de;
}
/* line 39, ../scss/common/_header.scss */
.app-header .app-header-links nav ul :last-child a {
  border: none;
}
/* line 47, ../scss/common/_header.scss */
.app-header .app-header-content {
  height: 153px;
  position: relative;
  overflow: visible !important;
}
/* line 52, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-logo {
  position: absolute;
  top: -59px;
  height: 272px;
  width: 198px;
  background-image: url(../../frontend/images/index/logo.png);
}
/* line 60, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-company {
  position: absolute;
  left: 245px;
  top: 32px;
  width: 388px;
  height: 54px;
  background-image: url(../../frontend/images/index/company.png);
}
/* line 69, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-wx {
  position: absolute;
  right: 348px;
  top: 30px;
  width: 55px;
  height: 55px;
  background-image: url(../../frontend/images/index/wx-small.png);
}
/* line 78, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-hotline {
  position: absolute;
  right: 1px;
  top: 38px;
  width: 319px;
  height: 46px;
  background-image: url(../../frontend/images/index/hotline.png);
}
/* line 87, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus {
  position: absolute;
  left: 248px;
  bottom: 18px;
  right: 0;
}
/* line 93, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
/* line 98, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li {
  flex: 1 1 auto;
  text-align: center;
}
/* line 102, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li a {
  cursor: pointer;
  color: #444444;
  transition: color ease-in .2s;
}
/* line 107, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li a:hover {
  color: #52a1e5 !important;
}
/* line 113, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li.split-line {
  flex: 0 0 8px;
  color: #959595;
}
/* line 118, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li.menu-home {
  flex: 0 0 70px;
  text-align: left;
  margin-left: 5px;
}
/* line 124, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li:first-child {
  flex: 0 0 22px;
  height: 18px;
  background-image: url(../../frontend/images/index/icon-home.png);
}
/* line 129, ../scss/common/_header.scss */
.app-header .app-header-content .app-header-menus ul li:first-child span::before {
  display: none;
}
/* line 138, ../scss/common/_header.scss */
.app-header .app-long-img {
  height: 190px;
  background-image: url(../../frontend/images/index/long-img-0.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 8, ../scss/userLayout.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}

/* line 16, ../scss/userLayout.scss */
a {
  text-decoration: none !important;
}

/* line 20, ../scss/userLayout.scss */
table {
  width: 100%;
  table-layout: fixed;
}

/* line 25, ../scss/userLayout.scss */
textarea {
  resize: none;
  outline: none !important;
  padding: 10px;
}

/* line 31, ../scss/userLayout.scss */
input[type=text] {
  height: 34px;
  line-height: 16px;
  background: #fff;
  border: 1px solid #c8cbcc;
  padding: 0 10px;
  font-size: 14px;
  color: #000;
  transition: border-color ease-in-out .15s;
  border-radius: 0;
}
/* line 42, ../scss/userLayout.scss */
input[type=text]:focus {
  border: 1px solid #c8cbcc;
  border-bottom: 3px solid #000;
  padding-top: 2px;
  outline-style: none;
}

/* line 50, ../scss/userLayout.scss */
.app-container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 56, ../scss/userLayout.scss */
.app-body {
  margin-top: 21px;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../scss/userLayout.scss */
.app-body .app-body-left {
  float: left;
  width: 326px;
}
/* line 65, ../scss/userLayout.scss */
.app-body .app-body-right {
  float: right;
  width: 854px;
}
/* line 72, ../scss/userLayout.scss */
.app-body .app-routes .app-routes-list li {
  margin-top: 4px;
}
/* line 75, ../scss/userLayout.scss */
.app-body .app-routes .app-routes-list li a {
  height: 80px;
  width: 325px;
  display: block;
  background-repeat: no-repeat;
}
/* line 82, ../scss/userLayout.scss */
.app-body .app-routes .app-routes-list li .app-route-xian {
  background: url(../images/subpage/GZ-XA.png);
}
/* line 86, ../scss/userLayout.scss */
.app-body .app-routes .app-routes-list li .app-route-taiyuan {
  background: url(../images/subpage/GZ-TY.png);
}
/* line 90, ../scss/userLayout.scss */
.app-body .app-routes .app-routes-list li .app-route-changzhi {
  background: url(../images/subpage/GZ-CZ.png);
}
/* line 94, ../scss/userLayout.scss */
.app-body .app-routes .app-routes-list li .app-route-jincheng {
  background: url(../images/subpage/GZ-JC.png);
}
/* line 98, ../scss/userLayout.scss */
.app-body .app-routes .app-routes-list li .app-route-hushi {
  background: url(../images/subpage/GZ-HS.png);
}
/* line 102, ../scss/userLayout.scss */
.app-body .app-routes .app-routes-list li .app-route-baotou {
  background: url(../images/subpage/GZ-BT.png);
}
/* line 109, ../scss/userLayout.scss */
.app-body .app-contact {
  margin-top: 30px;
}
/* line 113, ../scss/userLayout.scss */
.app-body .app-contact .app-contact-content table {
  color: #666666;
  table-layout: fixed;
  font-size: 12px;
  width: 100%;
}
/* line 119, ../scss/userLayout.scss */
.app-body .app-contact .app-contact-content table tr {
  height: 24px;
  line-height: 24px;
}
/* line 123, ../scss/userLayout.scss */
.app-body .app-contact .app-contact-content table tr td:first-child {
  padding-left: 18px;
  width: 60px;
  text-align: right;
}
/* line 132, ../scss/userLayout.scss */
.app-body .app-contact .app-contact-content table tr td {
  overflow: hidden;
}
/* line 138, ../scss/userLayout.scss */
.app-body .app-contact .app-contact-content .app-contact-qr-code {
  height: 234px;
  position: relative;
}
/* line 142, ../scss/userLayout.scss */
.app-body .app-contact .app-contact-content .app-contact-qr-code img {
  position: absolute;
  top: 48px;
  left: 106px;
}
/* line 148, ../scss/userLayout.scss */
.app-body .app-contact .app-contact-content .app-contact-qr-code span {
  font-size: 12px;
  color: #666666;
  position: absolute;
  top: 180px;
  left: 85px;
}

/* line 161, ../scss/userLayout.scss */
.app-layout-title {
  border-top: 1px solid #f3f3f3;
}
/* line 164, ../scss/userLayout.scss */
.app-layout-title span {
  display: inline-block;
  font-size: 18px;
  color: #074a92;
  border-top: 3px solid #074a92;
  padding: 10px 14px 10px 18px;
}

/* line 174, ../scss/userLayout.scss */
.app-form-row {
  overflow: hidden;
  *zoom: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 180, ../scss/userLayout.scss */
.app-form-row .app-form-group {
  float: left;
  flex: 0 0 300px;
  display: flex;
  line-height: 58px;
}
/* line 186, ../scss/userLayout.scss */
.app-form-row .app-form-group.app-form-group-single {
  flex: 1 0 auto;
}
/* line 189, ../scss/userLayout.scss */
.app-form-row .app-form-group.app-form-group-single input {
  flex: 1 0 auto;
}
/* line 194, ../scss/userLayout.scss */
.app-form-row .app-form-group label {
  font-size: 16px;
  color: #666666;
  position: relative;
  flex: 0 0 66px;
  text-align: right;
}
/* line 201, ../scss/userLayout.scss */
.app-form-row .app-form-group label .icon-required {
  color: red;
  font-size: 22px !important;
  position: absolute;
  left: -1px;
  top: -2px;
  font-weight: 800px;
}
/* line 211, ../scss/userLayout.scss */
.app-form-row .app-form-group input {
  margin-top: 12px;
  flex: 0 0 234px;
}
