@function px2vw($px){
    $vw:7.5px;
    @return ($px/$vw) +vw;
}

@function px2vh($px) {
    $vh:12.94px;
    @return ($px/$vh) +vh;
}

@function px2rem($px) {
    $rem: 75px;
    @return ($px/$rem) + rem;
}