
<div class="app-footer">
    <div class="app-contact-info">
        <div class="app-container app-contact-content">
            <div class="app-contact-wx"></div>
            <div class="app-contact-base">
                <table>
                    <tr>
                        <td colspan="2">
                            <span style="font-size:16px;">联系我们</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <i class="iconfont icon-fax"></i>
                                传真：0000-1234567
                            </span>
                        </td>
                        <td>
                            <span>
                                <i class="iconfont icon-email"></i>
                                邮箱：yuanbangwuliu@163.com
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <i class="iconfont icon-service"></i>
                                电话：400-993-1856
                            </span>
                        </td>
                        <td>
                            <span>
                                <i class="iconfont icon-website"></i>
                                网址：www.yuanbang.com
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span>
                                <i class="iconfont icon-coordinate"></i>
                                地址：广州市白云区石门街鸦岗工业路6-8号广州市锦亿物流货运市场G07-12单元
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="app-contact-phone">
                <div class="app-contact-phone-icon"></div>
                <div class="app-contact-phone-text">
                    <span style="font-size:18px;">全国服务热线：</span>
                    <span style="font-size:24px;font-weight:600;margin-top:12px;">400-933-1856</span>
                </div>
            </div>
        </div>
    </div>
    <div class="app-property"></div>
</div>