
<div class="app-footer">
    <div class="app-contact-info">
        <div class="app-container app-contact-content">
            <div class="app-contact-wx">
                <span>扫码关注圆邦物流官方微信</span>
            </div>
            <div class="app-contact-base">
                <table>
                    <tr>
                        <td colspan="2">
                            <span style="font-size:16px;">联系我们</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <i class="iconfont icon-website"></i>
                                网址：www.yb1856.cn
                            </span>
                        </td>
                        <td>
                            <span>
                                <i class="iconfont icon-email"></i>
                                邮箱：13935178638@163.com
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <i class="iconfont icon-coordinate"></i>
                                地址：广州市白云区石井安发货运市场B15栋3-6档
                            </span>
                        </td>
                        <td>
                            <span>
                                <i class="iconfont icon-service"></i>
                                电话：020-62198802/18825125966
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <i class="iconfont icon-coordinate"></i>
                                地址：广州市白云区石井锦亿货运市场G栋7-12档
                            </span>
                        </td>
                        <td>
                            <span>
                                <i class="iconfont icon-coordinate"></i>
                                电话：020-62870500/18688856539
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="app-contact-phone">
                <div class="app-contact-phone-icon"></div>
                <div class="app-contact-phone-text">
                    <span style="font-size:18px;">全国服务热线：</span>
                    <span style="font-size:24px;font-weight:600;margin-top:12px;">400-993-1856</span>
                </div>
            </div>
        </div>
    </div>
    <div class="app-property"></div>
</div>