<div class="app-header">
    
    <div class="app-container app-header-content">
        <div class="app-header-logo"></div>
        <div class="app-header-company"></div>
        <div class="app-header-wx"></div>
        <div class="app-header-hotline"></div>
        <div class="app-header-menus">
            <ul>
                <li>
                    <span class="icon-home"></span>
                </li>
                <li class="menu-home">
                    <a href="/Home/Index">首页</a>
                </li>
                <li class="split-line">
                    <span>/</span>
                </li>
                <li>
                    <a href="/Home/Query">运单查询</a>
                </li>
                <li class="split-line">
                    <span>/</span>
                </li>
                <li>
                    <a href="/Home/Route">路线介绍</a>
                </li>
                <li class="split-line">
                    <span>/</span>
                </li>
                <li>
                    <a href="/Home/Order">网上下单</a>
                </li>
                <li class="split-line">
                    <span>/</span>
                </li>
                <li>
                    <a href="/Home/Third">第三方物流</a>
                </li>
                <li class="split-line">
                    <span>/</span>
                </li>
                <li>
                    <a href="/Home/Point">服务网点</a>
                </li>
                <li class="split-line">
                    <span>/</span>
                </li>
                <li>
                    <a href="/Home/Suggestion">投诉建议</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-long-img"></div>
</div>