@charset "UTF-8";
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../scss/common/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 12px;
}

/* line 10, ../../scss/common/_base.scss */
html {
  height: 100%;
}

/* line 14, ../../scss/common/_base.scss */
a {
  text-decoration: none;
}

/* line 18, ../../scss/common/_base.scss */
ul, li {
  list-style: none;
}

/* line 22, ../../scss/common/_base.scss */
input[type=text] {
  font-size: 12px;
  border: 1px solid #c8cbcc;
  padding: 2px 30px 0 10px;
  outline: none;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
/* line 32, ../../scss/common/_base.scss */
input[type=text]:focus {
  border-bottom: 3px solid #000;
  padding-top: 2px;
}

/* line 38, ../../scss/common/_base.scss */
input[type=button] {
  border: none;
  letter-spacing: 3px;
}

/* line 3, ../../scss/mobile/News.scss */
body {
  background-color: #fff;
}

/* line 7, ../../scss/mobile/News.scss */
header {
  height: 6.80062vh;
  background-color: #074a92;
  padding: 0 5.6vw 0 4.66667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 15, ../../scss/mobile/News.scss */
header #return {
  width: 4.13333vw;
  height: 2.39567vh;
}
/* line 20, ../../scss/mobile/News.scss */
header #home {
  width: 5.2vw;
  height: 2.62751vh;
}
/* line 25, ../../scss/mobile/News.scss */
header span {
  font-size: 0.42667rem;
  color: #fff;
}

/* line 33, ../../scss/mobile/News.scss */
main #news li {
  padding: 1.5456vh 2.66667vw;
  font-size: 0.37333rem;
  display: flex;
}
/* line 38, ../../scss/mobile/News.scss */
main #news li .title {
  flex: 1 0 auto;
}
/* line 41, ../../scss/mobile/News.scss */
main #news li .title a {
  color: #333333;
}
/* line 46, ../../scss/mobile/News.scss */
main #news li .date {
  flex: 0 0 20vw;
  color: #333333;
}
/* line 53, ../../scss/mobile/News.scss */
main h4 {
  font: 0.53333rem "微软雅黑";
  color: #222;
  text-align: center;
  padding: 1.5456vh 0;
}
/* line 60, ../../scss/mobile/News.scss */
main .app-notice-tooltip {
  text-align: right;
  padding-right: 6.66667vw;
}
/* line 64, ../../scss/mobile/News.scss */
main .app-notice-tooltip span {
  font-size: 0.4rem;
  padding: 0.13333rem;
}
/* line 70, ../../scss/mobile/News.scss */
main #content {
  padding: 0.26667rem;
}
/* line 73, ../../scss/mobile/News.scss */
main #content img {
  max-width: 100%;
}
/* line 77, ../../scss/mobile/News.scss */
main #content p {
  font-size: 0.7728vh;
  text-indent: 0.66667rem !important;
  line-height: 2.31839vh;
}
