/*@function px2vh($px) {
    $vh:12.94px;
    @return ($px/$vh) +vh;
}*/
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../scss/common/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 12px;
}

/* line 10, ../../scss/common/_base.scss */
html {
  height: 100%;
}

/* line 14, ../../scss/common/_base.scss */
a {
  text-decoration: none;
}

/* line 18, ../../scss/common/_base.scss */
ul, li {
  list-style: none;
}

/* line 22, ../../scss/common/_base.scss */
input[type=text] {
  font-size: 12px;
  border: 1px solid #c8cbcc;
  padding: 2px 30px 0 10px;
  outline: none;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
/* line 32, ../../scss/common/_base.scss */
input[type=text]:focus {
  border-bottom: 3px solid #000;
  padding-top: 2px;
}

/* line 38, ../../scss/common/_base.scss */
input[type=button] {
  border: none;
  letter-spacing: 3px;
}

/* line 4, ../../scss/mobile/query.scss */
header {
  height: 1.17333rem;
  background-color: #074a92;
  padding: 0 5.6vw 0 4.66667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 12, ../../scss/mobile/query.scss */
header #return {
  width: 4.13333vw;
  height: 0.41333rem;
}
/* line 17, ../../scss/mobile/query.scss */
header #home {
  width: 5.2vw;
  height: 0.45333rem;
}
/* line 21, ../../scss/mobile/query.scss */
header span {
  font-size: 0.42667rem;
  color: #fff;
}

/* line 26, ../../scss/mobile/query.scss */
#header {
  height: 4.6rem;
  width: 100%;
}

/* line 32, ../../scss/mobile/query.scss */
main .query {
  height: 1.46667rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 39, ../../scss/mobile/query.scss */
main .query .query-content {
  width: 89.86667vw;
  height: 1.06667rem;
  position: relative;
}
/* line 44, ../../scss/mobile/query.scss */
main .query .query-content #order {
  width: 100%;
  height: 100%;
  font-size: 0.32rem;
  padding-left: 30px;
  border-radius: 0.16rem;
  border: 1px solid red;
  box-shadow: 5px 5px 5px #e8e8e8 inset;
}
/* line 53, ../../scss/mobile/query.scss */
main .query .query-content #order:focus {
  border-bottom: 1px solid red;
}
/* line 58, ../../scss/mobile/query.scss */
main .query .query-content #search {
  width: 21.6vw;
  height: 1.06667rem;
  position: absolute;
  right: 1px;
  top: 1px;
  background-image: url(/frontend/images/mobile/index/query.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 71, ../../scss/mobile/query.scss */
main .main-header {
  padding: 0 3.2vw;
  border-bottom: 2px solid #f5f5f5;
}
/* line 75, ../../scss/mobile/query.scss */
main .main-header span {
  font-size: 0.37333rem;
  font-weight: 500;
  display: inline-block;
  line-height: 1.06667rem;
}
/* line 83, ../../scss/mobile/query.scss */
main .main-body {
  padding: 0.4rem 10.13333vw;
}
/* line 86, ../../scss/mobile/query.scss */
main .main-body ul {
  border-left: 4px dotted #cccccc;
}

/* line 92, ../../scss/mobile/query.scss */
#logistics li {
  height: 1.81333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5.33333vw;
  position: relative;
}
/* line 100, ../../scss/mobile/query.scss */
#logistics li > * {
  font-size: 0.32rem;
  color: #333333;
}
/* line 105, ../../scss/mobile/query.scss */
#logistics li .operation {
  margin-bottom: 0.24rem;
}
/* line 109, ../../scss/mobile/query.scss */
#logistics li i {
  color: #cccccc;
  position: absolute;
  font-size: 4.53333vw;
  left: -2.53333vw;
  background-color: #fff;
}
/* line 118, ../../scss/mobile/query.scss */
#logistics li.active > * {
  color: #074a92;
}

/* line 124, ../../scss/mobile/query.scss */
#errorMessage {
  display: none;
  padding-left: 5vw;
  height: 10vh;
  line-height: 10vh;
  font-size: 0.4rem;
  color: #ff7800;
  border: 1px solid #d2d2d2;
}
