/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../scss/common/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 12px;
}

/* line 10, ../../scss/common/_base.scss */
html {
  height: 100%;
}

/* line 14, ../../scss/common/_base.scss */
a {
  text-decoration: none;
}

/* line 18, ../../scss/common/_base.scss */
ul, li {
  list-style: none;
}

/* line 22, ../../scss/common/_base.scss */
input[type=text] {
  font-size: 12px;
  border: 1px solid #c8cbcc;
  padding: 2px 30px 0 10px;
  outline: none;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
}
/* line 32, ../../scss/common/_base.scss */
input[type=text]:focus {
  border-bottom: 3px solid #000;
  padding-top: 2px;
}

/* line 38, ../../scss/common/_base.scss */
input[type=button] {
  border: none;
  letter-spacing: 3px;
}

/* line 3, ../../scss/mobile/service.scss */
body {
  background-color: #f5f5f5;
}

/* line 7, ../../scss/mobile/service.scss */
header {
  height: 6.80062vh;
  background-color: #074a92;
  padding: 0 5.6vw 0 4.66667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 15, ../../scss/mobile/service.scss */
header #return {
  width: 4.13333vw;
  height: 2.39567vh;
}
/* line 20, ../../scss/mobile/service.scss */
header #home {
  width: 5.2vw;
  height: 2.62751vh;
}
/* line 25, ../../scss/mobile/service.scss */
header span {
  font-size: 0.42667rem;
  color: #fff;
}

/* line 32, ../../scss/mobile/service.scss */
main ul li {
  background-color: #fff;
  margin-bottom: 0.61824vh;
}
/* line 36, ../../scss/mobile/service.scss */
main ul li .service-title {
  height: 5.25502vh;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4.8vw;
}
/* line 44, ../../scss/mobile/service.scss */
main ul li .service-title span {
  font-size: 0.34667rem;
  color: #333333;
  height: 2.47295vh;
  line-height: 2.47295vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* line 53, ../../scss/mobile/service.scss */
main ul li .service-title span i {
  width: 1.06667vw;
  height: 2.31839vh;
  background-color: #074a92;
  border-radius: 5px;
  margin-right: 2.13333vw;
}
/* line 65, ../../scss/mobile/service.scss */
main ul li .service-content ul li {
  display: flex;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
  padding: 0.26667rem;
}
/* line 71, ../../scss/mobile/service.scss */
main ul li .service-content ul li img {
  width: 24.26667vw;
  height: 11.74652vh;
  flex: 0 0 24.26667vw;
}
/* line 77, ../../scss/mobile/service.scss */
main ul li .service-content ul li .app-service-contact {
  flex: 1;
  font-size: 0.29333rem;
}
/* line 81, ../../scss/mobile/service.scss */
main ul li .service-content ul li .app-service-contact p {
  padding-left: 0.13333rem;
  color: #666666;
  line-height: 2.47295vh;
}
