@import '../common/_mobile.scss';
@import '../common/_base.scss';

body {
    background-color: #f5f5f5;
}

header {
    height: px2vh(88px);
    background-color: #074a92;
    padding: 0 px2vw(42px) 0 px2vw(35px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    #return {
        width: px2vw(31px);
        height: px2vh(31px);
    }

    #home {
        width: px2vw(39px);
        height: px2vh(34px);
    }

    span {
        font-size: px2rem(32px);
        color: #fff;
    }
}

main {
    background-color: #fff;

    > img {
        width: 100vw;
        height: px2vh(236px);
        margin-top: px2vh(10px);
    }

    > p {
        font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
        padding: px2vh(5px) px2vw(34px);
        line-height: px2rem(40px);
        background-color: #fff;
        text-indent: 2em;
        color: #333333;
    }

    h1 {
        color: #0077bb;
        margin: px2rem(50px) 0 px2rem(20px);
        font-size: px2rem(30px);
    }

    h2 {
        margin: px2rem(25px) px2rem(15px) px2rem(25px);
        font-size: px2rem(15px);
    }

    h3 {
        margin: px2rem(20px) 0;
        font-size: px2rem(21px);
    }

    blockquote {
        padding: px2rem(10px) px2rem(15px);
        border-left-style: solid;
        border-left-width: px2rem(10px);
        margin: 0 0 px2rem(20px);
        border-color: #D6DBDF;
        background: none repeat scroll 0 0 rgba(102,128,153,.05);

        ul {
            padding: 0;
            margin: 0 0 px2rem(10px) px2rem(25px);

            li {
                line-height: px2rem(27px);
                display: list-item;
                color: #2C3E50;
                list-style-type: disc;
            }
        }
    }

    .manager {
        height: px2vh(496px);
        padding: px2vh(75px) px2vw(165px) px2vh(116px) px2vw(140px);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            font-size: px2rem(28px);
            color: #fff;
            background-image: url(../../images/mobile/logistics/phone.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: px2vw(445px);
            height: px2vh(140px);
            line-height: px2vh(140px);
            text-align: center;
        }
    }
}
footer {
    height: px2vh(138px);
    padding: px2vh(30px) 0;
    position: absolute;
    bottom: 0;
    width: 100vw;

    ul.link {
        display: flex;
        height: px2vh(52px);
        justify-content: center;
        align-items: center;

        li {
            a, i {
                display: block;
                height: px2vh(52px);
                line-height: px2vh(52px);
                font-size: px2rem(20px);
                font-weight: 500;
                color: #333333;
            }

            i {
                margin: 0 px2vw(20px);
            }
        }
    }

    ul.web-info {
        display: flex;
        height: px2vh(20px);
        justify-content: center;
        align-items: center;

        li {
            span {
                display: block;
                height: px2vh(20px);
                line-height: px2vh(20px);
                font-size: px2rem(12px);
                margin: 0 px2vw(10px);
            }
        }
    }
}

