@import '../common/_mobile.scss';
@import '../common/_base.scss';

body {
    background-color: #f5f5f5;
}

header {
    height: px2vh(88px);
    background-color: #074a92;
    padding: 0 px2vw(42px) 0 px2vw(35px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    #return {
        width: px2vw(31px);
        height: px2vh(31px);
    }

    #home {
        width: px2vw(39px);
        height: px2vh(34px);
    }

    span {
        font-size: px2rem(32px);
        color: #fff;
    }
}
main {
    section {
        background-color: #fff;
        margin-bottom: px2vh(8px);

        .header {
            height: px2vh(68px);
            border-bottom: 2px solid #f5f5f5;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: px2vw(36px);

            span {
                font-size: px2rem(26px);
                color: #333333;
                height: px2vh(32px);
                line-height: px2vh(32px);
                display: flex;
                justify-content: flex-start;
                align-items: center;

                i {
                    width: px2vw(8px);
                    height: px2vh(30px);
                    background-color: #074a92;
                    border-radius: 5px;
                    margin-right: px2vw(16px);
                }
            }
        }

        .body {
            padding: 0 px2vw(22px);

            .form-row {
                display: flex;

                label {
                    position: relative;
                    flex: 0 0 px2vw(152px);
                    font-size: px2rem(26px);
                    font-weight: 500;
                    text-align: center;
                    height: px2vh(80px);
                    line-height: px2vh(80px);

                    i {
                        position: absolute;
                        font-size: px2rem(28px);
                        color: red;
                        font-weight: 500;
                        left: px2rem(18px);
                    }
                }

                input {
                    flex: 1;
                    font-size: px2rem(26px);
                    border: none;
                }
            }
        }
    }
}
footer {
    display: flex;
    margin-top: px2vh(20px);
    height: px2vh(100px);
    background-color:#fff;

    .clause {
        flex: 1;
        text-align:center;
        display:flex;
        justify-content:center;
        align-items:center;
        label {
            font-size: px2rem(20px);
            color: #396ea8;
            text-decoration: underline;
            text-align: center;
            margin-right:px2vw(50px);
        }
    }

    #submit {
        flex: 0 0 px2vw(290px);
        font-size: px2rem(28px);
        background-color: #074a92;
        height: 100%;
        text-align: center;
        line-height:px2vh(100px);
        color:#fff;
    }
}