@import '../common/_mobile.scss';
@import '../common/_base.scss';

header {
    height: px2vh(88px);
    background-color: #074a92;
    padding: 0 px2vw(42px) 0 px2vw(35px);
    display: flex;
    justify-content: space-between;
    align-items:center;

    #return {
        width: px2vw(31px);
        height: px2vh(31px);
    }

    #home {
        width: px2vw(39px);
        height: px2vh(34px);
    }
    span{
        font-size:px2rem(32px);
        color:#fff;
    }
}
#header{
    height:px2vh(345px);
    width:100%;
}

main {
    .main-header {
        padding: 0 px2vw(24px);
        border-bottom: 2px solid #f5f5f5;

        span {
            font-size: px2rem(28px);
            font-weight: 500;
            display: inline-block;
            line-height: px2vh(80px);
        }
    }

    .main-body {
        padding: px2vh(30px) px2vw(76px);

        ul {
            border-left: 4px dotted #cccccc;
        }
    }
}
#logistics {
    li {
        height: px2vh(136px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: px2vw(40px);
        position: relative;

        > * {
            font-size: px2rem(28px);
            color: #333333;
        }

        .operation {
            margin-bottom: px2vh(18px);
        }

        i {
            color: #cccccc;
            position: absolute;
            font-size: px2vw(34px);
            left: - px2vw(19px);
            background-color: #fff;
        }

        &.active {
            > * {
                color: #074a92;
            }
        }
    }
}
#errorMessage {
    display: none;
    padding-left:5vw;
    height: 10vh;
    line-height:10vh;
    font-size: px2rem(30px);
    color: #ff7800;
    border: 1px solid #d2d2d2;
}