
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>圆邦物流</title>
    <link rel="stylesheet" href="~/frontend/css/mobile/index.css" />
    <link rel="stylesheet" href="~/frontend/libs/iconfont/iconfont.css" />
    <script type="text/javascript" src="~/frontend/libs/superslide/jquery1.42.min.js"></script>
    <script type="text/javascript" src="~/frontend/libs/superslide/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <header>
        <img src="~/frontend/images/mobile/index/logo.png" id="logo" />
        <img src="~/frontend/images/mobile/index/name-ch.png" id="name-ch" />
        <img src="~/frontend/images/mobile/index/name-en.png" id="name-en" />
        <a href="tel:18688856539" class="service-call one">18688856539</a>
        <a href="tel:18825125966" class="service-call two">18825125966</a>
    </header>
    <main>
        <div class="slide">
            <nav class="hd">
                <ul>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                </ul>
            </nav>
            <div class="bd">
                <ul>
                    <li>
                        <a>
                            <img src="~/frontend/images/mobile/index/slide.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="~/frontend/images/mobile/index/slide2.png" />
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="~/frontend/images/mobile/index/slide3.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            jQuery('.slide').slide({
                mainCell: ".bd ul",
                autoPlay: true,
                effect: 'fade',
                interTime: 3000,
                delayTime:1000,
                easing: 'linear'
            });
        </script>
        <div class="query">
            <div class="query-content">
                <input type="text" id="order" placeholder="请输入要查询的运单号" />
                <a href="javascript:;" id="search"></a>
            </div>
        </div>
        <div class="menus">
            <ul>
                <li>
                    <a href="/Mobile/Route">
                        <div class="img-box">
                            <img alt="路线介绍" class="route-desc" src="~/frontend/images/mobile/index/route.png" />
                        </div>
                        <span>路线介绍</span>
                    </a>
                </li>
                <li>
                    <a href="/Mobile/Order">
                        <div class="img-box">
                            <img alt="网上下单" class="place-order" src="~/frontend/images/mobile/index/order.png" />
                        </div>
                        <span>网上下单</span>
                    </a>
                </li>
                <li>
                    <a href="/Mobile/Logistics">
                        <div class="img-box">
                            <img alt="第三方物流" class="logistics" src="~/frontend/images/mobile/index/logistics.png" />
                        </div>
                        <span>第三方物流</span>
                    </a>
                </li>
                <li>
                    <a href="/Mobile/Service">
                        <div class="img-box">
                            <img alt="服务网点" class="service-site" src="~/frontend/images/mobile/index/site.png"/>
                        </div>
                        <span>服务网点</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="routes">
            <section class="route-head">
                <span><i class="vertical-line"></i>主要线路</span>
            </section>
            <section class="route-content">
                <ul>
                    <li data-url="/Mobile/RouteLine?destination=ToXiAn">
                        <div class="img-box">
                            <img alt="广州直达西安" src="~/frontend/images/mobile/index/GzToXa.png" class="GzToXa" />
                        </div>
                        <div class="text-info">
                            <p>广州直达</p>
                            <h4>西安</h4>
                        </div>
                    </li>
                    <li data-url="/Mobile/RouteLine?destination=ToTaiYuan">
                        <div class="img-box">
                            <img alt="广州直达太原" src="~/frontend/images/mobile/index/GzToTy.png" class="GzToTy" />
                        </div>
                        <div class="text-info">
                            <p>广州直达</p>
                            <h4>太原</h4>
                        </div>
                    </li>
                    <li data-url="/Mobile/RouteLine?destination=ToChangZhi">
                        <div class="img-box">
                            <img alt="广州直达长治" src="~/frontend/images/mobile/index/GzToCz.png" class="GzToCz" />
                        </div>
                        <div class="text-info">
                            <p>广州直达</p>
                            <h4>长治</h4>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li data-url="/Mobile/RouteLine?destination=ToJinCheng">
                        <div class="img-box">
                            <img alt="广州直达晋城" src="~/frontend/images/mobile/index/GzToJc.png" class="GzToJc" />
                        </div>
                        <div class="text-info">
                            <p>广州直达</p>
                            <h4>晋城</h4>
                        </div>
                    </li>
                    <li data-url="/Mobile/RouteLine?destination=ToHuShi">
                        <div class="img-box">
                            <img alt="广州直达呼市" src="~/frontend/images/mobile/index/HsToXa.png" class="HsToXa" />
                        </div>
                        <div class="text-info">
                            <p>广州直达</p>
                            <h4>呼市 </h4>
                        </div>
                    </li>
                    <li data-url="/Mobile/RouteLine?destination=ToBaoTou">
                        <div class="img-box">
                            <img alt="广州直达包头" src="~/frontend/images/mobile/index/GzToBt.png" class="GzToBt" />
                        </div>
                        <div class="text-info">
                            <p>广州直达</p>
                            <h4>包头</h4>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </main>
    <footer>
        <ul class="link">
            <li>
                <a href="/Mobile/Company">公司概述</a>
            </li>
            <li>
                <i class="iconfont icon-split-line"></i>
            </li>
            <li>
                <a href="/Mobile/News">公司新闻</a>
            </li>
            <li>
                <i class="iconfont icon-split-line"></i>
            </li>
            <li>
                <a href="/Mobile/Contact">联系我们</a>
            </li>
            <li>
                <i class="iconfont icon-split-line"></i>
            </li>
            <li>
                <a href="/Mobile/Suggestion">意见反馈</a>
            </li>
        </ul>
        <ul class="web-info">
            <li>
                <span>©   2018-2028</span>
            </li>
            <li>
                <span>版权所有</span>
            </li>
            <li>
                <span>备案号:[晋ICP备12345678号]</span>
            </li>
            <li>
                <span>法律声明</span>
            </li>
            <li>
                <span>企业邮箱</span>
            </li>
        </ul>
    </footer>
    <script type="text/javascript" src="~/frontend/libs/jQuery/jquery.js"></script>
    <script>
        $(function () {
            const init = function () {
                //设置屏幕缩放
                let meta = document.createElement('meta');
                let scale = 1 / window.devicePixelRatio;
                meta.charset = 'utf-8';
                meta.setAttribute('content', 'width=device-width,user-scalable=no,initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + '');
                meta.name = 'viewport';
                document.getElementsByTagName('head')[0].appendChild(meta);

            };

            const AdaptScreen = function () {
                document.getElementsByTagName('html')[0].style.fontSize = window.innerWidth / 10 + 'px';
            };

            init();
            AdaptScreen();
            $(window).resize(function () {
                AdaptScreen();
            });

            //订单查询代码
            $('#search').on('click', function () {
                const order = $('#order').val();
                window.location.href = "/Mobile/Query/?order=" + order;
            });

            $('.route-content').on('click', 'li', function () {
                const uri = $(this).data('url');
                window.location.href = uri;
            });
        });
    </script>
</body>
</html>
