
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>第三方物流</title>
    <link rel="stylesheet" href="~/frontend/libs/iconfont/iconfont.css" />
    <link rel="stylesheet" href="~/frontend/css/mobile/logistics.css" />
</head>
<body>
    <header>
        <img id="return" alt="返回" src="~/frontend/images/mobile/query/return.png" />
        <span>第三方物流</span>
        <img id="home" alt="主页" src="~/frontend/images/mobile/query/home.png" />
    </header>
    <main>
        <img alt="第三方物流" src="~/frontend/images/mobile/logistics/logistics.png" />
        <p>圆邦物流专为大客户定制全国通业务，辐射全国34个省市自治区，可驻场收货，随发随走，货物全程跟踪，时效安全。</p>
        <h2>服务内容</h2>
        <blockquote>
            <ul>
                <li>物流项目受托管理：受客户托为其开展物流项目（仓库）管理</li>
                <li>供应链管理：为客户提供全国性或区域性的全程供应链管理服务</li>
                <li>第三方物流服务：为客户提供货物运输、配送、分拨、仓储一体化服务</li>
                <li>国内货运代理：为客户提供全国性或区域性货运代理</li>
                <li>盘点服务：为客户提供各类物资、各种要求的盘点服务</li>
            </ul>
        </blockquote>

        <h2>服务特色</h2>
        <p>针对性</p>
        <p >圆邦物流具有丰富专业知识和实践经验的咨询师，针对不同的客户或客户的不同要求制作不同的服务方案，既能满足客户运作管理层面的物流要求，又能满足客户规划层面的物流要求。</p>
        <p>专业性</p>
        <p >圆邦物流依托丰富的城市配送经验和区域物流运作管理经验，开展以城市配送为重点、以区域物流为基础的物流配送业务，为客户解决最难操作的终端配送，建立全国性或区域性物流配送网络。</p>
        <p>务实性</p>
        <p >圆邦物流树立并坚持“诚信、高效、创新、实用、沟通”的服务理念，为每一个客户服务，并以此形成公司的核心竞争力。圆邦物流始终以客户利益为最高原则，在整个服务过程中与客户充分沟通，全面了解客户的需求，收集真实的数据和资料，以诚信与务实的态度，制作出实用的方案并贯彻实施。</p>

        <h2>服务管理</h2>
        <p>专人负责对口管理</p>
        <p >指定专门的业务经理到贵公司驻站服务，向客户提供“一站式”服务</p>
        <p>专人负责售后服务</p>
        <p >指定专职客户服务中心经理负责平时和贵公司的联络、沟通、协调</p>
        <p>投诉处理</p>
        <p >所有服务投诉均由专职服务人员在二小时内答复，其中属于服务事故的按照服务事故方案处理，并在两个工作日内回复最终处理结果</p>
        <p>服务提升</p>
        <p >定期由我公司专业人员、客户服务人员、操作人员和贵公司相对应的物流部门相关人员，对前期工作进行检讨，并提出更好的解决方案以便更好的服务于贵公司的物流事业</p>
        <div class="manager">
            <span>
                关经理：18688856539
            </span>
            <span>
                赵经理：18825125966
            </span>
        </div>
    </main>
    <script type="text/javascript" src="~/frontend/libs/jQuery/jquery.js"></script>
    <script>
        $(function () {
            const init = function () {
                //设置屏幕缩放
                let meta = document.createElement('meta');
                let scale = 1 / window.devicePixelRatio;
                meta.charset = 'utf-8';
                meta.setAttribute('content', 'width=device-width,user-scalable=no,initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + '');
                meta.name = 'viewport';
                document.getElementsByTagName('head')[0].appendChild(meta);

            };

            const AdaptScreen = function () {
                document.getElementsByTagName('html')[0].style.fontSize = window.innerWidth / 10 + 'px';
            };

            init();
            AdaptScreen();
            $(window).resize(function () {
                AdaptScreen();
            });

            //返回
            $('#return,#home').on('click', function () {
                window.location.href = '/Mobile/Index';
            });
        });
    </script>
</body>
</html>
