/* line 1, ../../scss/menus/point.scss */
.app-service-list {
  padding: 25px 0 25px 50px;
}
/* line 4, ../../scss/menus/point.scss */
.app-service-list .app-service-item {
  height: 190px;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}
/* line 9, ../../scss/menus/point.scss */
.app-service-list .app-service-item:last-child {
  border-bottom: none;
}
/* line 13, ../../scss/menus/point.scss */
.app-service-list .app-service-item img {
  position: absolute;
  top: 20px;
  left: 0;
}
/* line 19, ../../scss/menus/point.scss */
.app-service-list .app-service-item .app-service-contact {
  position: absolute;
  top: 36px;
  left: 290px;
  color: #666666;
  font-size: 16px;
}
/* line 27, ../../scss/menus/point.scss */
.app-service-list .app-service-item .app-service-contact .app-service-address-name, .app-service-list .app-service-item .app-service-contact .app-service-contact-name {
  font-weight: 800;
  height: 34px;
  line-height: 34px;
}
/* line 33, ../../scss/menus/point.scss */
.app-service-list .app-service-item .app-service-contact .app-service-address-value, .app-service-list .app-service-item .app-service-contact .app-service-contact-value {
  height: 28px;
  line-height: 28px;
  text-indent: 50px;
}
