/* line 1, ../../scss/menus/query.scss */
.app-bill-query {
  width: 854px;
  height: 222px;
  background-color: #074a92;
  position: relative;
  padding: 14px 20px;
}
/* line 8, ../../scss/menus/query.scss */
.app-bill-query > span {
  position: absolute;
  font-size: 18px;
  color: #ffffff;
  top: 15px;
  left: 20px;
}
/* line 16, ../../scss/menus/query.scss */
.app-bill-query > textarea {
  height: 114px;
  width: 814px;
  resize: none;
  padding: 12px;
  position: absolute;
  top: 50px;
}
/* line 25, ../../scss/menus/query.scss */
.app-bill-query > img {
  position: absolute;
  right: 20px;
  bottom: 12px;
  cursor: pointer;
}

/* line 33, ../../scss/menus/query.scss */
.app-bill-info {
  margin-top: 30px;
  display: none;
}
/* line 37, ../../scss/menus/query.scss */
.app-bill-info table {
  color: #666666;
  font-size: 16px;
}
/* line 41, ../../scss/menus/query.scss */
.app-bill-info table td {
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}
/* line 48, ../../scss/menus/query.scss */
.app-bill-info table thead td {
  font-weight: 600 !important;
}
/* line 54, ../../scss/menus/query.scss */
.app-bill-info table tbody tr:first-child {
  background-color: #074a92;
}
/* line 57, ../../scss/menus/query.scss */
.app-bill-info table tbody tr:first-child td {
  color: #fff;
}
/* line 62, ../../scss/menus/query.scss */
.app-bill-info table tbody tr:hover {
  background-color: #074a92;
}
/* line 65, ../../scss/menus/query.scss */
.app-bill-info table tbody tr:hover td {
  color: #fff;
}

/* line 72, ../../scss/menus/query.scss */
.app-error-info {
  display: none;
  margin-top: 50px;
  padding: 8px;
  line-height: 48px;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  text-align: left;
  position: relative;
}
/* line 82, ../../scss/menus/query.scss */
.app-error-info a {
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
  font-size: 22px;
  color: #d2d2d2;
}
/* line 90, ../../scss/menus/query.scss */
.app-error-info a:hover {
  color: #0094ff;
}
/* line 95, ../../scss/menus/query.scss */
.app-error-info .icon-warning {
  position: absolute;
  top: 0;
  left: 20px;
  color: #ff7800;
}
/* line 102, ../../scss/menus/query.scss */
.app-error-info p {
  line-height: 30px;
  padding-left: 35px;
  font-size: 14px;
  color: #ff7800;
}
