@{
    ViewBag.Title = "代收货款";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/frontend/css/markdown.css" />
<div class="app-collection">
    <div class="markdown">
        <h1>什么是代收货款</h1>
        <hr />
        <p>货物送达签收后，我们将代发货商向收货方收取相应货款，并按照约定时间返还给发货商，以降低双方的交易风险，加速客户资金回笼。</p>
    </div>
</div>