
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<style type="text/css">
    .app-join-content {
        padding: 30px 0 0 82px;
        height: 120px;
        position: relative;
        color: #666666;
    }

        .app-join-content a {
            position: absolute;
            padding-left: 10px;
        }

            .app-join-content a i {
                position: absolute;
                left: -10px;
                font-size: 18px;
                top: -1px;
            }
</style>
<div class="app-join">
    <img alt="招商加盟" src="~/frontend/images/subpage/join.png" />
    <div class="app-join-content">
        <a style="top:30px;left:92px;"><i class="iconfont icon-star"></i>长途路线加盟</a>
        <a style="top:30px;left:540px;"><i class="iconfont icon-star"></i>广州短线加盟</a>
        <a style="top:82px;left:92px;"><i class="iconfont icon-star"></i>短线加盟</a>
        <a style="top:82px;left:540px;"><i class="iconfont icon-star"></i>各直达网点加盟</a>
    </div>
</div>

