
@{
    ViewBag.Title = "合作加盟";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/frontend/css/markdown.css" />
<div class="app-join markdown">
    <h1>合作加盟</h1>
    <hr />

    <p>
        <strong>广东圆邦物流有限公司</strong>是一家主营公路运输的专业物流，公司主要从事国内整车，散货运输，本着“客户第一，诚信至上”的原则，实力物流与多家企业建立了长期的合作关系。 现已开通往返城市专线有：西安、太原、呼和浩特、包头、长治、晋城等。我们提供货物进行全程跟踪服务，拥有一流的服务网点，为广大客户提供门到门的服务……
    </p>
    <img alt="合作加盟" src="~/frontend/images/subpage/join.png" />
    <h2>长途线路加盟</h2>
    <p>
        本着良性发展，逐步壮大的原则。圆邦物流在现有线路的基础之上，逐步计划开通西北五省长途线路。在3年内实现对西北地区全覆盖，5年内实现利润翻一番，10年之内建成大西北物流业一流品牌的目标。现召集各路加盟商共同发展。
    </p>
    <h3>1.合作咨询</h3>
    <p>
        只要有投资意向者可通过电话、传真、网上留言等方式进行咨询，或者您可以亲临总部进行考察。
    </p>
    <h3>2.加盟店选址</h3>
    <p>
        有投资意向者总部会派人与您接洽，对申请者所申请的区域进行详细的调查分析，为经营的位置提出参考依据。 
    </p>
    <h3>3.对申请者进行审核回复</h3>
    <p>
        总部会派工作人员对申请者所在市区的市场环境、消费情况和申请者自身条件作为参考，并对投资预算、营业费用预算、营业额、投资回报和经营潜力做一个评估审核后给予回复寻求进一步合作。 
    </p>
    <h3>4.交纳费用</h3>
    <p>
        为了便于日后更良性合作，总部以押金形式收取拿货保证金。待合同解除后立即返还。 
    </p>
    <h3>5.签约</h3>
    <p>
        具备合作条件者，可与总部签定品牌经营合同书，若您不方便过来本部，我司亦可派专人亲自与您办理签约及相关手续。 
    </p>
    <h3>6.店铺装潢</h3>
    <p>
        待合同签定完毕后，总部派专人专项免费为加盟商提供装潢设计方案，并及时落实执行。 
    </p>
    <h3>7.人员培训</h3>
    <p>
        加盟商需派人到总部进行上岗培训，所需费用由加盟商自行承担。 
    </p>
    <h3>8.开业准备</h3>
    <p>
        做好开业策划与宣传，公司也会指派相应人员进行现场指导，加盟商必须按总部培训要求进行布置，择日开业。 
    </p>
    <h3>9.后续跟踪服务</h3>
    <p>
        开业后，总部会适时的提供新的营销指导方案，不定期对加盟商进行经营指导。 
    </p>
    <h3>10.加盟条件</h3>
    <blockquote>
        <ul>
            <li>对圆邦物流有充分的了解</li>
            <li>认同圆邦物流品牌文化，认同圆邦物流经营管理模式</li>
            <li>具有高中以上的学历</li>
            <li>具备3年以上的经营经验</li>
            <li>有良好的个人信誉度</li>
            <li>有独立承担投资风险及民事责任能力</li>
            <li>具有一定的经济能力，一般需要50-160万元</li>
            <li>要求有120平米以上的店面或场所</li>
            <li>能接受圆邦物流公司实地考查</li>
            <li>圆邦物流官方会对您的物流加盟条件进行实力测评</li>
        </ul>
    </blockquote>


    <h2>各区市县镇线路加盟</h2>
    <p>为进一步提高货物流转速度，提升客户服务体验，圆邦物流诚招各市县镇加盟代理商，共同努力创造更好的经济效益。</p>
    <h3>加盟条件</h3>
    <blockquote>
        <ul>
            <li>有志从事物流行业</li>
            <li>具备一定的经济实力，具有管理经验和思路，有良好信誉、认真务实的事业态度</li>
            <li>具备一定的抗风险能力和良好的团队协作精神</li>
            <li>具有合法有效的营业执照，并以物流为主要经营范围</li>
            <li>认同圆邦物流的企业经营文化</li>
            <li>在当地从事物流相关行业3年以上的物流操作经验，有一定的客户资源</li>
        </ul>
    </blockquote>
    <h3>加盟相关要件</h3>
    <blockquote>
        <ul>
            <li>加盟者身份证复印件</li>
            <li>个人履历表及当地相关部门有效签字证明（附有效公章）</li>
            <li>营业执照复印件</li>
            <li>所加盟区域的派送范围（附当地地图）</li>
        </ul>
    </blockquote>
    <h3>加盟原则</h3>
    <blockquote>
        <ul>
            <li>加盟网点须使用圆邦统一商标和企业形象，不得以任何理由、形式做有损公司形象的事</li>
            <li>凡加盟圆邦物流网络的公司或个人或直系亲属不得私自在国内其它城市设立圆邦及其他同行公司网点，严禁代理同行，不得经营违背《圆邦物流网络加盟协议》的其它业务</li>
            <li>加盟网点以县和县以上城市为单位，任何中心区域城市在未经营运中心同意下不能以地区管辖原因来阻碍县和县以上城市的独立设立和运营</li>
            <li>加盟网点不得违反国家法规、法律、政策，须严格执行圆邦网络管理操作条例、按照《圆邦物流网络加盟协议》的各项规定开展业务，积极配合总公司的经营方针和政策，无条件执行营运中心的管理</li>
            <li>加盟网点必须配备圆邦物流操作、运作、车辆、人员等软件和硬件设施</li>
            <li>加盟网点享有圆邦物流商标及相关要件的使用权、业前培训、配套服务、IT支持等统一管理制度</li>
        </ul>
    </blockquote>
    <h2>加盟流程图</h2>
    <div style="text-align:center;margin-bottom:50px;padding-bottom:50px;background-color:#F9F9F5" class="flow-diagram theme theme-white"  data-anchor-id="520q"><svg height="1425.5" version="1.1" width="536" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;" viewBox="0 0 536 1425.5" preserveAspectRatio="xMidYMid meet"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block-obj419" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><marker id="raphael-marker-endblock33-obj420" markerHeight="3" markerWidth="3" orient="auto" refX="1.5" refY="1.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><use xlink:href="#raphael-marker-block-obj419" transform="rotate(180 1.5 1.5) scale(0.6,0.6)" stroke-width="1.6667" fill="black" stroke="none" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></use></marker></defs><rect x="0" y="0" width="156" height="37" r="20" rx="20" ry="20" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="st" transform="matrix(1,0,0,1,79,31.25)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="stt" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,79,31.25)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">加盟商咨询加盟事宜</tspan></text><rect x="0" y="0" width="127" height="37" r="0" rx="0" ry="0" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="op1" transform="matrix(1,0,0,1,93.5,149.5)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="op1t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,93.5,149.5)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">填写加盟申请表</tspan></text><rect x="0" y="0" width="127" height="37" r="0" rx="0" ry="0" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="op2" transform="matrix(1,0,0,1,93.5,267.75)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="op2t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,93.5,267.75)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">填写个人履历表</tspan></text><path fill="#ffffff" stroke="#000000" d="M10,18.5L0,37L71,37L91,0L20,0L10,18.5" stroke-width="2" id="io" class="flowchart" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" transform="matrix(1,0,0,1,111.5,386)"></path><text x="30" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="iot" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,111.5,386)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">审核</tspan></text><path fill="#ffffff" stroke="#000000" d="M45.75,22.875L0,45.75L91.5,91.5L183,45.75L91.5,0L0,45.75" stroke-width="2" id="cond" class="flowchart" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" transform="matrix(1,0,0,1,65.5,477)"></path><text x="50.75" y="45.75" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="condt" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,65.5,477)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">是否审核通过</tspan></text><rect x="0" y="0" width="81" height="37" r="0" rx="0" ry="0" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="op3" transform="matrix(1,0,0,1,116.5,649.75)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="op3t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,116.5,649.75)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">找寻店面</tspan></text><rect x="0" y="0" width="209.984375" height="37" r="0" rx="0" ry="0" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="op5" transform="matrix(1,0,0,1,52.0078,768)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="op5t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,52.0078,768)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">网管中心考察店面(店面评分)</tspan></text><path fill="#ffffff" stroke="#000000" d="M10,18.5L0,37L72,37L92,0L20,0L10,18.5" stroke-width="2" id="io2" class="flowchart" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" transform="matrix(1,0,0,1,111,886.25)"></path><text x="30" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="io2t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,111,886.25)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">评分</tspan></text><path fill="#ffffff" stroke="#000000" d="M45.75,22.875L0,45.75L91.5,91.5L183,45.75L91.5,0L0,45.75" stroke-width="2" id="cond2" class="flowchart" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" transform="matrix(1,0,0,1,65.5,977.25)"></path><text x="50.75" y="45.75" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="cond2t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,65.5,977.25)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">评分是否达标</tspan></text><rect x="0" y="0" width="306" height="37" r="0" rx="0" ry="0" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="op6" transform="matrix(1,0,0,1,4,1150)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="op6t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,4,1150)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">签订正式加盟或承包合同（交付剩余款项）</tspan></text><rect x="0" y="0" width="201" height="37" r="0" rx="0" ry="0" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="op7" transform="matrix(1,0,0,1,56.5,1268.25)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="op7t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,56.5,1268.25)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">新店装修，开业，帮扶新店</tspan></text><rect x="0" y="0" width="235.15625" height="37" r="0" rx="0" ry="0" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="op8" transform="matrix(1,0,0,1,39.4219,1386.5)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="op8t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,39.4219,1386.5)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">后期跟踪与维护,助力加盟商成长</tspan><tspan dy="18" x="10" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></tspan></text><rect x="0" y="0" width="157" height="37" r="0" rx="0" ry="0" fill="#ffffff" stroke="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" stroke-width="2" class="flowchart" id="op4" transform="matrix(1,0,0,1,377,1004.5)"></rect><text x="10" y="18.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" id="op4t" class="flowchartt" font-size="15px" transform="matrix(1,0,0,1,377,1004.5)" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">终止合作，退还定金</tspan></text><path fill="none" stroke="#000000" d="M157,68.25C157,68.25,157,131.81823332607746,157,146.49976377687562" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#000000" d="M157,186.5C157,186.5,157,250.06823332607746,157,264.7497637768756" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#000000" d="M157,304.75C157,304.75,157,368.31823332607746,157,382.9997637768756" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#000000" d="M157,423C157,423,157,462.65409994125366,157,474.00043908460066" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#000000" d="M157,568.5C157,568.5,157,632.0682333260775,157,646.7497637768756" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="162" y="578.5" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" font-size="15px" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">审核通过</tspan></text><path fill="none" stroke="#000000" d="M248.5,522.75C248.5,522.75,455.5,522.75,455.5,522.75C455.5,522.75,455.5,960.9551574550569,455.5,1001.501972561372" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="253.5" y="512.75" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" font-size="15px" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">审核不通过</tspan></text><path fill="none" stroke="#000000" d="M157,686.75C157,686.75,157,750.3182333260775,157,764.9997637768756" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#000000" d="M157,805C157,805,157,868.5682333260775,157,883.2497637768756" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#000000" d="M157,923.25C157,923.25,157,962.9040999412537,157,974.2504390846007" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#000000" d="M157,1068.75C157,1068.75,157,1132.3182333260775,157,1146.9997637768756" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="162" y="1078.75" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" font-size="15px" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">评分达标</tspan></text><path fill="none" stroke="#000000" d="M248.5,1023C248.5,1023,354.66205194592476,1023,373.9972303520917,1023" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="253.5" y="1013" text-anchor="start" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: start; font: 15px Arial;" font-size="15px" stroke-width="1"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">评分不达标</tspan></text><path fill="none" stroke="#000000" d="M157,1187C157,1187,157,1250.5682333260775,157,1265.2497637768756" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#000000" d="M157,1305.25C157,1305.25,157,1368.8182333260775,157,1383.4997637768756" stroke-width="2" marker-end="url(#raphael-marker-endblock33-obj420)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg></div>
</div>
@section scripts{

}