
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/frontend/libs/404/css/main.css" type="text/css" media="screen, projection" /> <!-- main stylesheet -->
    <link rel="stylesheet" type="text/css" media="all" href="~/frontend/libs/404/css/tipsy.css" /> <!-- Tipsy implementation -->
    <script type="text/javascript" src="~/frontend/libs/404/scripts/jquery-1.7.2.min.js"></script> <!-- uiToTop implementation -->
    <script type="text/javascript" src="~/frontend/libs/404/scripts/custom-scripts.js"></script>
    <script type="text/javascript" src="~/frontend/libs/404/scripts/jquery.tipsy.js"></script> <!-- Tipsy -->
    <script type="text/javascript">
        $(document).ready(function () {
            universalPreloader();
        });



        $(window).load(function () {
            rotate();
            dogRun();
            dogTalk();
            //Tipsy implementation
            $('.with-tooltip').tipsy({ gravity: $.fn.tipsy.autoNS });

            setTimeout(function () {
                window.location.href = '/Home/Index';
            },5000);
        });
    </script>
    <title>404 - Not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

    <!-- Universal preloader -->

    <div id="wrapper">

        <!-- 404 graphic -->

        <div class="graphic"></div>

        <!-- 404 graphic -->
        <!-- Not found text -->

        <div class="not-found-text">
            <h1 class="not-found-text">页面不存在或已删除</h1>
        </div>

        <!-- Not found text -->
        <!-- top menu -->

        <!-- top menu -->
        <div class="dog-wrapper">

            <!-- dog running -->

            <div class="dog"></div>

            <!-- dog running -->
            <!-- dog bubble talking -->

            <div class="dog-bubble">
            </div>



            <!-- The dog bubble rotates these -->

            <div class="bubble-options">
                <p class="dog-bubble">
                    <br />
                    系统即将返回首页
                </p>

            </div>

            <!-- The dog bubble rotates these -->
            <!-- dog bubble talking -->

        </div>



        <!-- planet at the bottom -->

        <div class="planet"></div>

        <!-- planet at the bottom -->

    </div>
</body>

</html>
