
@{
    ViewBag.Title = "服务网点";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/frontend/css/menus/point.css" />
<div class="app-service-point">
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>广州营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/jinyi1.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">白云区石井锦亿货运市场G栋7-12档（陕西线营业部）</p>
                    <p class="app-service-contact-name">客服电话：</p>
                    <p class="app-service-contact-value">020-62870500/18825126650</p>
                </div>
            </div>
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/anfa1.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">白云区石井安发货运市场B15栋3-6档（山西、太原线营业部）</p>
                    <p class="app-service-contact-name">客服电话：</p>
                    <p class="app-service-contact-value">020-62198802/18825125966</p>
                </div>
            </div>
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/anfa2.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">白云区石井安发货运市场B15栋3-6档（长治、晋城线营业部）</p>
                    <p class="app-service-contact-name">客服电话：</p>
                    <p class="app-service-contact-value">020-62198805/15626104888</p>
                </div>
            </div>
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/jinyi2.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">白云区石井锦亿货运市场G栋13-16档（内蒙线营业部）</p>
                    <p class="app-service-contact-name">客服电话：</p>
                    <p class="app-service-contact-value">020-62870502/18813299146</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>西安营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/xian.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">灞桥区港务区港兴路乾龙物流园5栋A（北）1-3号</p>
                    <p class="app-service-contact-name">提货电话：</p>
                    <p class="app-service-contact-value">029-89289327/15399488381</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>太原营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/taiyuan.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">杏花岭区东环高速丈子头西出口东行20米</p>
                    <p class="app-service-contact-name">提货电话：</p>
                    <p class="app-service-contact-value">0351-3951228/15735199286</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>长治营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/changzhi.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">西二环南寨村福星物流市场院内</p>
                    <p class="app-service-contact-name">提货电话：</p>
                    <p class="app-service-contact-value">13313450084/15735199273</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>晋城营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/jincheng.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">晋阳高速南村入口路西50米</p>
                    <p class="app-service-contact-name">提货电话：</p>
                    <p class="app-service-contact-value">0356-3039111/13363567222</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>呼市营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/hushi.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">金川开发区110国道蓝天学校旁中全物流园1号大库5-6号</p>
                    <p class="app-service-contact-name">提货电话：</p>
                    <p class="app-service-contact-value">13191415128/18825156630</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>包头营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/baotou.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">九原区哈屯高勒络锦鸿驾校对面包钢万开物流园</p>
                    <p class="app-service-contact-name">提货电话：</p>
                    <p class="app-service-contact-value">0472-2551616/18825126640</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>古镇营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/guzhen.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">中山市古镇老天宏货运市场M15-16档</p>
                    <p class="app-service-contact-name">客服电话：</p>
                    <p class="app-service-contact-value">0760-88369326/18813294146</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>番禺营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/fanyu.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">番禺沙溪五金商贸城C栋16号</p>
                    <p class="app-service-contact-name">客服电话：</p>
                    <p class="app-service-contact-value">020-84508366/18825126619</p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-service-content">
        <div class="app-layout-title">
            <span>中山营业部</span>
        </div>
        <div class="app-service-list">
            <div class="app-service-item">
                <img alt="" src="~/frontend/images/subpage/points/dongfeng.jpg" />
                <div class="app-service-contact">
                    <p class="app-service-address-name">服务网点：</p>
                    <p class="app-service-address-value">中山市东凤镇同安大道东60号广东物流村（天保物流）</p>
                    <p class="app-service-contact-name">客服电话：</p>
                    <p class="app-service-contact-value">0760-22620265/18825126676</p>
                </div>
            </div>
        </div>
    </div>
</div>

