@{
    ViewBag.Title = "保价运输";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/frontend/css/markdown.css" />
<div class="app-price-protect">
    <div class="markdown">
        <h1>什么是保价运输</h1>
        <hr />
        <p>保价运输是当托运的货物出现货损货差时，圆邦物流根据客户托运时所申明的货物价值，对客户作出的相应的赔偿服务。目的是转降客户的货物在运输过程中的风险，免去客户的后顾之忧。</p>
        <p><strong>不可办理保价运输的货物:</strong></p>
        <blockquote>
            <ul>
                <li>武器弹药、现金、支票、票据、单证、有价证劵、信用证、护照</li>
                <li>艺术品、金银、珠宝、钻石、玉器、文物古玩等贵重物品</li>
                <li>鱼粉、花生、菜籽饼、地瓜干等易腐易蛀易变质货物</li>
                <li>爆竹、烟花等易燃易爆品及危险品</li>
                <li>水泥、石料板材、连体（红木）家具、灯饰</li>
                <li>军用品（军用服装、鞋帽除外）</li>
                <li>鲜活动、植物及其标本（干货如鲍鱼、鱼翅、海参等除外）</li>
                <li>裸装货物</li>
                <li>二手机器设备、二手电器</li>
                <li>玻璃面积占货物总面积70%以上的物品</li>
                <li>国家法规明令禁止生产流通的各类物品</li>
            </ul>
        </blockquote>
        <p>以上货物，即使赐安误收了保险费，将退回所交保费并不予按保价理赔。（托运人与大羽另有其他有效协议的情况除外）。</p>
        <p><strong>理赔时效:</strong></p>
        <blockquote>
            <ul>
                <li>声明货物价值为1万元以下的索赔，资料提交齐全后72小时内理赔</li>
                <li>声明货物价值为1万元以上的索赔，资料提交齐全后一周内理赔</li>
            </ul>
        </blockquote>
        <p><strong>理赔须知:</strong></p>
        <p>需提供以下索赔资料（不限于以下资料，据实际情况提供）:</p>
        <blockquote>
            <ul>
                <li>客户索赔申请表：必须注明单号，时间，出险情况，要求索赔金额等</li>
                <li>货运单：托运人为公司的必须盖公章，托运人为个人的必须由托运人本人签名确认，并附上身份证复印件</li>
                <li>货物价值证明：货物发票或货价证明</li>
                <li>损失清单：货物的真实损失情况及损失计算</li>
            </ul>
        </blockquote>
    </div>
</div>
