@{
    ViewBag.Title = "代签回单";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/frontend/css/markdown.css" />
<div class="app-proxy">
    <div class="app-proxy-content markdown">
        <h1>什么是代签回单</h1>
        <hr />
        <p>将收货方签收确认后的送货单或者签收回单返还给发货方，为双方提供更全面的快递服务。该业务主要适用于有企业业务往来、物流运输过程中有签收回单返回等方面需求的客户。 对于货物托运单，一般只提供其中一类的原件返还服务。如果发货人同时要求提供派送证明及签单返还服务，则只会将经收件人签字/盖章后的签收单返还给发货人。</p>
        <p>通常还提供以下几类服务:</p>
        <blockquote>
            <ul>
                <li>客户签收单原件、代理签收单原件</li>
                <li>传真件签收单包括：客户签收单传真、代理签收单传真、运单签收联传真</li>
            </ul>
        </blockquote>
    </div>
</div>