
@{
    ViewBag.Title = "运单查询";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/frontend/css/menus/query.css" />
<div class="app-bill-query">
    <span>运单查询</span>
    <textarea id="app-bill-num" placeholder="请输入运单号"></textarea>
    <img alt="查询" src="~/frontend/images/subpage/bill-query-btn.png" id="query" />
</div>
<div class="app-bill-info">
    <div class="app-layout-title">
        <span>物流信息</span>
    </div>
    <div class="app-bill-content">
        <table>
            <thead>
                <tr>
                    <td style="width:190px">时间</td>
                    <td style="width:80px">城市</td>
                    <td>操作记录</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2018/6/25 09:38:45</td>
                    <td>太原市</td>
                    <td>太原市【太原小店区二部】，【关红刚/1381222345678】正在派件</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            let order = $.getQueryString('order');
            const auth = '7d1b8c24605c6a98373ffc15963bb2d1';
            

            $('#query').on('click', function () {

                order = $('#app-bill-num').val();
                if (order.trim().length !== 0) {
                    $.ajax({
                        url: 'http://t800.chemanman.com/api/Order/Search/searchByAuth',
                        type: 'get',
                        data: {
                            auth: auth,
                            search_num: order
                        },
                        success: function (data) {
                            console.log(data);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
                else {
                    alert('请输入运单号！');
                }
            });
        });
    </script>
}


