
@{
    ViewBag.Title = "路线介绍";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/frontend/css/menus/route.css" />
<div class="app-route-show">
    <div class="app-route-map">
        <img alt="路线图" src="~/frontend/images/subpage/map.png" />
    </div>
    <div class="app-route-list">
        <ul>
            <li>
                <span class="app-route-destination">1、广州直达西安</span>
                <span class="app-route-radiation">辐射：咸阳,渭南,宝鸡,安康,汉中,商洛，铜川,延安,榆林，运城，固原，平凉, 天水</span>
            </li>
            <li>
                <span class="app-route-destination">2、广州直达：呼和浩特</span>
                <span class="app-route-radiation">辐射：乌兰察布，集宁，化德，四子王旗，武川，土默特旗，托克克，和林格尔，准格尔旗（薛家湾），赤峰，二连浩特，锡林格勒盟（锡林浩特），乌兰浩特</span>
            </li>
            <li>
                <span class="app-route-destination">3、广州直达：包头</span>
                <span class="app-route-radiation">辐射：巴彦淖尔盟周边，临河，乌拉特中旗，前旗，后旗、五原，磴口，乌海，杭锦后旗帜，鄂尔多斯市，杭锦旗，东胜，伊金霍洛旗，达拉特旗，乌审旗，鄂托克旗，准格尔旗，阿拉善旗</span>
            </li>
            <li>
                <span class="app-route-destination">4、广州直达：太原</span>
                <span class="app-route-radiation">辐射：朔州，怀仁，大同，阳泉，运城，临汾，离石，代县，柳林，保德，临县，中阳，兴县，岚县，介休，榆次，平遥，太古，寿阳，祁县，灵石，清徐，古交，汾阳，孝义，交城，文水，侯马，霍州，翼城，襄汾，洪洞，永济等山西全境</span>
            </li>
            <li>
                <span class="app-route-destination">5、广州直达：长治</span>
                <span class="app-route-radiation">辐射：长治县，黎城，武乡，平顺，长子，襄垣，潞城，壶关，屯留，沁源，沁县</span>
            </li>
            <li>
                <span class="app-route-destination">6、广州直达：晋城</span>
                <span class="app-route-radiation">辐射：高平，阳城，沁水，陵川 </span>
            </li>
        </ul>
    </div>
</div>