
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<div class="app-value-service">
    <div class="app-layout-title">
        <span>增值服务</span>
    </div>
    <div class="app-value-service-content" style="text-align:center;margin-top:76px;">
        <img alt="增值服务" src="~/frontend/images/subpage/value-service.png" />
    </div>
</div>

