
@{
    ViewBag.Title = "投诉建议";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link href="~/frontend/css/menus/suggestion.css" rel="stylesheet" />
<div class="app-complaint">
    <div class="app-layout-title">
        <span>投诉栏</span>
    </div>
    <div class="app-complaint-content">
        <form>
            <div class="app-form-row">
                <div class="app-form-group app-form-group-single">
                    <label><i class="iconfont icon-required"></i>标题：</label>
                    <input type="text" id="ComplainTitle" />
                </div>
            </div>
            <div class="app-form-row">
                <div class="app-form-group app-form-group-single">
                    <label style="flex:0 0 100px"><i class="iconfont icon-required"></i>投诉内容：</label>
                    <textarea style="flex:0 0 630px; height:150px;" id="ComplainContent" ></textarea>
                </div>
            </div>
            <div class="app-form-row">
                <div class="app-form-group">
                    <label style="flex:0 0 100px">联系方式：</label>
                    <input type="text"  id="ComplainPhoneNumber"/>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="app-suggest">
    <div class="app-layout-title">
        <span>建议栏</span>
    </div>
    <div class="app-suggest-content">
        <form>
            <div class="app-form-row">
                <div class="app-form-group app-form-group-single">
                    <label><i class="iconfont icon-required"></i>标题：</label>
                    <input type="text" id="SuggestionTitle"/>
                </div>
            </div>
            <div class="app-form-row">
                <div class="app-form-group app-form-group-single">
                    <label style="flex:0 0 100px"><i class="iconfont icon-required"></i>建议内容：</label>
                    <textarea style="flex:0 0 630px; height:150px;" id="SuggestionContent"></textarea>
                </div>
            </div>
            <div class="app-form-row">
                <div class="app-form-group">
                    <label style="flex:0 0 100px">联系方式：</label>
                    <input type="text" id="SuggestionPhoneNumber"/>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="app-form-submit" style="position:relative;">
    <div class="app-form-tooltip" style="position:absolute;left:50px;font-size: 20px;color: darkgoldenrod;display:none;">
        <i class="iconfont icon-success"></i><span style="margin-left:8px;">感谢您的反馈，我们将尽快与您联系!</span>
    </div>
    <div class="app-form-submit-btn">
        <img alt="提交" src="~/frontend/images/subpage/suggest-submit.png" />
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        const isPhone = /^([0-9]{3,4}-)?[0-9]{7,8}$/;//手机号码
        const isMob = /^0?1[3|4|5|8][0-9]\d{8}$/;// 座机格式
        $(function () {
            $('.app-form-submit-btn').on('click', function () {
                const complainTitle = $('#ComplainTitle').val().trim();
                const complainContent = $('#ComplainContent').val().trim();
                const complainPhoneNumber = $('#ComplainPhoneNumber').val().trim();

                const suggestionTitle = $('#SuggestionTitle').val().trim();
                const suggestionContent = $('#SuggestionContent').val().trim();
                const suggestionPhoneNumber = $('#SuggestionPhoneNumber').val().trim();

                if (complainTitle.length !== 0 || complainContent.length!==0) {
                    if (complainTitle.length === 0) {
                        alert('请输入投诉标题');
                        $('#ComplainTitle').focus();
                        return false;
                    } else if (complainContent.length === 0) {
                        alert('请输入投诉内容');
                        $('#complainContent').focus();
                        return false;
                    } else {
                        if (!isMob.test(complainPhoneNumber) && !isPhone.test(complainPhoneNumber)) {
                            alert('投诉联系方式格式错误');
                            $('#ComplainContent').focus();
                            return false;
                        }

                        $.ajax({
                            url: '/Home/AddAdvice',
                            type: 'post',
                            dataType: 'json',
                            contentType: "application/json",
                            data: JSON.stringify({
                                Title: complainTitle,
                                Type: 'complain',
                                Content: complainContent,
                                ContactPhoneNumber: complainPhoneNumber
                            }),
                            success: function (jsonData) {
                                if (jsonData.State) {
                                    $('.app-form-tooltip').show();
                                    $('input').val('');
                                    $('textarea').val('');
                                } else {
                                    alert(jsonData.Message);
                                }
                            }
                        });
                    }
                }

                if (suggestionTitle.length !== 0 || suggestionContent.length !== 0) {
                    if (suggestionTitle.length === 0) {
                        alert('请输入建议标题');
                        $('#SuggestionTitle').focus();
                        return false;
                    } else if (suggestionContent.length===0) {
                        alert('请输入建议内容');
                        $('#SuggestionContent').focus();
                        return false;
                    } else {
                        if (!isMob.test(suggestionPhoneNumber) && !isPhone.test(suggestionPhoneNumber)) {
                            alert('建议联系方式格式错误');
                            $('#SuggestionPhoneNumber').focus();
                            return false;
                        }

                        $.ajax({
                            url: '/Home/AddAdvice',
                            type: 'post',
                            dataType: 'json',
                            contentType: "application/json",
                            data: JSON.stringify({
                                Title: suggestionTitle,
                                Type: 'suggestion',
                                Content: suggestionContent,
                                ContactPhoneNumber: suggestionPhoneNumber
                            }),
                            success: function (jsonData) {
                                if (jsonData.State) {
                                    $('.app-form-tooltip').show();
                                    $('input').val('');
                                    $('textarea').val('');
                                } else {
                                    alert(jsonData.Message);
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
}
