
@{
    ViewBag.Title = "第三方物流";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link href="~/frontend/css/menus/third.css" rel="stylesheet" />
<div class="app-third-logistics">
    <img alt="第三方物流" src="~/frontend/images/subpage/third-logistics.png" />
    <p>
        圆邦物流专为大客户定制全国通业务，辐射全国34个省市自治区，可驻场收货，随发随走，货物全程跟踪，时效安全
        双保证，欢迎各大厂商来电洽谈。
    </p>
    <div class="app-third-logistics-contact">
        <span>
            关经理:18688856539
        </span>
        <span>
            赵经理:18825125966
        </span>
    </div>
</div>

