
@{
    ViewBag.Title = "第三方物流";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/frontend/css/markdown.css" />
<link href="~/frontend/css/menus/third.css" rel="stylesheet" />
<div class="app-third-logistics markdown">
    <h1>第三方物流</h1>
    <hr />

    <p>
        圆邦物流专为大客户定制全国通业务，辐射全国34个省市自治区，可驻场收货，随发随走，货物全程跟踪，时效安全
        双保证，欢迎各大厂商来电洽谈。
    </p>
    <img alt="第三方物流" src="~/frontend/images/subpage/third-logistics.png" />

    <h2>服务内容</h2>
    <blockquote>
        <ul>
            <li>物流项目受托管理：受客户托为其开展物流项目（仓库）管理</li>
            <li>供应链管理：为客户提供全国性或区域性的全程供应链管理服务</li>
            <li>第三方物流服务：为客户提供货物运输、配送、分拨、仓储一体化服务</li>
            <li>国内货运代理：为客户提供全国性或区域性货运代理</li>
            <li>盘点服务：为客户提供各类物资、各种要求的盘点服务</li>
        </ul>
    </blockquote>

    <h2>服务特色</h2>
    <p><strong>针对性</strong></p>
    <p>圆邦物流具有丰富专业知识和实践经验的咨询师，针对不同的客户或客户的不同要求制作不同的服务方案，既能满足客户运作管理层面的物流要求，又能满足客户规划层面的物流要求。</p>
    <p><strong>专业性</strong></p>
    <p>圆邦物流依托丰富的城市配送经验和区域物流运作管理经验，开展以城市配送为重点、以区域物流为基础的物流配送业务，为客户解决最难操作的终端配送，建立全国性或区域性物流配送网络。</p>
    <p><strong>务实性</strong></p>
    <p>圆邦物流树立并坚持“诚信、高效、创新、实用、沟通”的服务理念，为每一个客户服务，并以此形成公司的核心竞争力。圆邦物流始终以客户利益为最高原则，在整个服务过程中与客户充分沟通，全面了解客户的需求，收集真实的数据和资料，以诚信与务实的态度，制作出实用的方案并贯彻实施。</p>

    <h2>服务管理</h2>
    <p><strong>专人负责对口管理</strong></p>
    <p>指定专门的业务经理到贵公司驻站服务，向客户提供“一站式”服务</p>
    <p><strong>专人负责售后服务</strong></p>
    <p>指定专职客户服务中心经理负责平时和贵公司的联络、沟通、协调</p>
    <p><strong>投诉处理</strong></p>
    <p>所有服务投诉均由专职服务人员在二小时内答复，其中属于服务事故的按照服务事故方案处理，并在两个工作日内回复最终处理结果</p>
    <p><strong>服务提升</strong></p>
    <p>定期由我公司专业人员、客户服务人员、操作人员和贵公司相对应的物流部门相关人员，对前期工作进行检讨，并提出更好的解决方案以便更好的服务于贵公司的物流事业</p>
    <div class="app-third-logistics-contact">
        <span>
            关经理:18688856539
        </span>
        <span>
            赵经理:18825125966
        </span>
    </div>
</div>

