.app-bill-query {
    width: 854px;
    height: 222px;
    background-color: #074a92;
    position: relative;
    padding: 14px 20px;

    > span {
        position: absolute;
        font-size: 18px;
        color: #ffffff;
        top: 15px;
        left: 20px;
    }

    > textarea {
        height: 114px;
        width: 814px;
        resize: none;
        padding: 12px;
        position: absolute;
        top: 50px;
    }

    > img {
        position: absolute;
        right: 20px;
        bottom: 12px;
        cursor: pointer;
    }
}

.app-bill-info {
    margin-top: 30px;
    display: none;

    table {
        color: #666666;
        font-size: 16px;

        td {
            height: 40px;
            line-height: 40px;
            padding-left: 16px;
        }

        thead {
            td {
                font-weight: 600 !important;
            }
        }

        tbody {
            tr:first-child {
                background-color: #074a92;

                td {
                    color: #fff;
                }
            }

            tr:hover {
                background-color: #074a92;

                td {
                    color: #fff;
                }
            }
        }
    }
}
.app-error-info {
    display: none;
    margin-top:50px;
    padding: 8px;
    line-height: 48px;
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
    text-align: left;
    position: relative;

    a {
        position: absolute;
        right: 20px;
        top: 0;
        cursor: pointer;
        font-size: 22px;
        color: #d2d2d2;

        &:hover {
            color: #0094ff;
        }
    }

    .icon-warning {
        position: absolute;
        top: 0;
        left: 20px;
        color: #ff7800;
    }

    p {
        line-height: 30px;
        padding-left: 35px;
        font-size: 14px;
        color: #ff7800;
    }
}
