@model YuanBang.Models.Notice

@{
    ViewBag.Title = "EditNotice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-title">
    <span>修改新闻公告</span>
</div>
@Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @ID = "noticeID" } })
<div class="container">
    <div id="EditNotice">
        <div class="app-form">
            <div class="form-row">
                <div class="form-field">
                    <span>标题：</span>
                    <div class="form-control">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @ID = "noticeName" } })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <span>类型：</span>
                    <div class="form-control">
                        <select id="noticeType"></select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field" style="line-height:1;">
                    <span>内容：</span>
                    <div class="form-control" style="width:100%;">
                        <script id="noticeContainer" name="content" type="text/plain">
                        </script>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <div class="form-control">
                        <input type="button" value="取消" id="cancel" />
                        <input type="button" value="保存" id="save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/frontend/libs/editor/ueditor.config.js"></script>
    <script type="text/javascript" src="~/frontend/libs/editor/ueditor.all.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //获取option填充类型选择
            $.ajax({
                url: '/Admin/GetDictionaries',
                type: 'post',
                dataType: 'json',
                data: {
                    dictionaryType: '新闻公告'
                },
                success: function (data) {
                    data.forEach(function (currentValue) {
                        let option = $('<option></option>', {
                            value: currentValue.ID,
                            text: currentValue.Name
                        });
                        $('#noticeType').append(option);
                    });
                    $('#noticeType').val(@Model.NoticeTypeID);
                }
            });

            //加载文本编辑器
            var ue = UE.getEditor('noticeContainer', {
                initialFrameWidth: '100%',
                initialFrameHeight: '400'
            });
            ue.ready(function () {
                ue.setContent($.HTMLDecode('@Model.Content'));
            });

            $('#save').on('click', function () {
                let noticeName = $('#noticeName').val();
                let noticeType = $('#noticeType').val();
                let noticeContent = ue.getContent();

                let data = {
                    ID:@Model.ID,
                    Title: noticeName,
                    NoticeTypeID: noticeType,
                    Content: noticeContent
                };

                $.ajax({
                    url: '/Admin/EditNotice/',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (jsonData) {
                        if (jsonData.State) {
                            window.location.href = '/Admin/News';
                        } else {
                            alert(jsonData.Message);
                        }
                    }
                });


            });

            $('#cancel').on('click', function () {
                window.location.href = '/Admin/News';
            });
        });
    </script>
}

