
@{
    ViewBag.Title = "修改密码";
}

<div class="app-title">
    <span>修改密码</span>
</div>
<div class="container">
    <div id="Password">
        <div class="app-form">
            <div class="form-row">
                <div class="form-field">
                    <span>原密码：</span>
                    <div class="form-control">
                        <input type="text" placeholder="请输入原密码" id="PrePassword" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <span>新密码：</span>
                    <div class="form-control">
                        <input type="text" placeholder="请输入新密码" id="NewPassword" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <span>确认密码：</span>
                    <div class="form-control">
                        <input type="text" placeholder="请重新输入新密码" id="ConfirmPassword" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <div class="form-control">
                        <input type="button" value="保存" id="save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $('#save').on('click', function () {
            const prevPassword = $('#PrePassword').val().trim();
            if (prevPassword.length === 0) {
                alert('原密码不能为空');
                $('#PrePassword').focus().val('');
                return false;
            }

            const newPassword = $('#NewPassword').val().trim();
            if (newPassword.length === 0) {
                alert('新密码不能为空');
                $('#NewPassword').focus().val('');
                return false;
            }

            const confirmPassword = $('#ConfirmPassword').val().trim();
            if (confirmPassword.length === 0) {
                alert('确认密码不能为空');
                $('#ConfirmPassword').focus().val('');
                return false;
            }

            if (newPassword !== confirmPassword) {
                alert('密码不一致，请重新输入');
                return false;
            }

            $.ajax({
                url: '/Admin/ModifyPassword',
                type: 'post',
                dataType: 'json',
                data: {
                    prevPassword:prevPassword,
                    newPassword: newPassword
                },
                success: function (jsonData) {
                    if (jsonData.State) {
                        alert('修改成功');
                    } else {
                        alert(jsonData.Message);
                    }
                }
            });
        });
    </script>
}